n8n/COMPLETE_BASE_WORKFLOW.json
{
  "name": "ZoraH Bot - Complete Base Implementation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode"
      },
      "id": "webhook-start",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1000]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nreturn [{\n  json: {\n    message: data.message || '',\n    phone: data.phone || '',\n    conversationId: data.conversationId || '',\n    patient: data.patient || {},\n    context: data.context || {},\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 1000]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/conversations/{{$json.conversationId}}/context",
        "authentication": "none"
      },
      "id": "get-context",
      "name": "Get Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 1000]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/clinic/data",
        "authentication": "none"
      },
      "id": "get-clinic",
      "name": "Get Clinic Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 1150]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const baseData = $input.first().json;\nconst contextData = $input.all()[1]?.json || {};\nconst clinicData = $input.all()[2]?.json || {};\n\nconst systemPrompt = `Você é a Zorah, assistente virtual inteligente da clínica.\n\n**DADOS DA CLÍNICA:**\nProcedimentos: ${JSON.stringify(clinicData.procedures || [])}\nConvênios: ${JSON.stringify(clinicData.insuranceCompanies || [])}\nUnidades: Vieiralves, São José\n\n**REGRAS IMPORTANTES:**\n1. SEMPRE pergunte a UNIDADE antes de fornecer valores\n2. Seja natural e conversacional\n3. Identifique a intenção do paciente\n\n**INTENÇÕES POSSÍVEIS:**\n1. INFORMACAO_VALORES - Quer saber preços\n2. INFORMACAO_CONVENIOS - Quer saber sobre convênios\n3. INFORMACAO_LOCALIZACAO - Quer endereço/horários\n4. EXPLICACAO_PROCEDIMENTO - Quer detalhes de procedimento\n5. AGENDAR - Quer marcar consulta/sessão\n6. FALAR_ATENDENTE - Quer falar com humano\n\nPaciente: ${baseData.patient?.name || 'Não identificado'}\nHistórico: ${JSON.stringify(contextData.history || [])}`;\n\nreturn [{\n  json: {\n    ...baseData,\n    systemPrompt,\n    clinic: clinicData,\n    history: contextData.history || [],\n    currentIntent: contextData.currentIntent,\n    workflowContext: contextData.workflowContext || {}\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 1000]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-4o",
        "prompt": "={{$json.systemPrompt}}\n\nMensagem do paciente: {{$json.message}}\n\nResponda em JSON:\n{\n  \"intent\": \"INFORMACAO_VALORES|INFORMACAO_CONVENIOS|INFORMACAO_LOCALIZACAO|EXPLICACAO_PROCEDIMENTO|AGENDAR|FALAR_ATENDENTE\",\n  \"confidence\": 0.95,\n  \"response\": \"sua resposta natural e amigável\",\n  \"entities\": {\n    \"procedimento\": \"nome do procedimento mencionado\",\n    \"clinica\": \"Vieiralves ou São José\",\n    \"convenio\": \"nome do convênio\"\n  },\n  \"needsMoreInfo\": false\n}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "gpt-classifier",
      "name": "GPT Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1050, 1000],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi.id}}",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "try {\n  const gptResponse = $input.item.json.response || $input.item.json.message?.content || '{}';\n  const parsed = typeof gptResponse === 'string' ? JSON.parse(gptResponse) : gptResponse;\n  \n  return [{\n    json: {\n      ...$input.item.json,\n      intent: parsed.intent || 'CONVERSA',\n      response: parsed.response || 'Como posso ajudar?',\n      confidence: parsed.confidence || 0.8,\n      entities: parsed.entities || {},\n      needsMoreInfo: parsed.needsMoreInfo || false\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ...$input.item.json,\n      intent: 'CONVERSA',\n      response: 'Como posso ajudar?',\n      confidence: 0.5,\n      entities: {},\n      needsMoreInfo: false\n    }\n  }];\n}"
      },
      "id": "parse-gpt",
      "name": "Parse GPT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "valores-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO_VALORES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-valores",
      "name": "Valores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "convenios-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO_CONVENIOS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-convenios",
      "name": "Convenios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 750]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "loc-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO_LOCALIZACAO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-location",
      "name": "Localizacao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 900]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "agendar-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "AGENDAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-agendar",
      "name": "Agendar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 1050]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "human-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "FALAR_ATENDENTE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-human",
      "name": "Falar Humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 1200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/patients/search?phone={{$json.phone}}",
        "authentication": "none"
      },
      "id": "search-patient",
      "name": "Search Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 1050]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "patient-found-cond",
              "leftValue": "={{ $json.id ? true : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "patient-found",
      "name": "Patient Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 1050]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-4o",
        "prompt": "Você precisa coletar os seguintes dados do paciente para cadastro:\n\n1. Nome completo\n2. CPF (formato: 000.000.000-00)\n3. Data de nascimento (formato: DD/MM/AAAA)\n4. Telefone: {{$json.phone}}\n5. E-mail\n6. CEP\n7. Endereço (rua, número, bairro)\n8. Convênio (opcional)\n\nMensagem do paciente: {{$json.message}}\n\nHistórico de coleta: {{JSON.stringify($json.collectedData || {})}}\n\nResponda em JSON:\n{\n  \"nextField\": \"nome|cpf|dataNascimento|email|cep|endereco|convenio|complete\",\n  \"question\": \"Pergunta natural para coletar o próximo campo\",\n  \"collectedData\": { \"campo\": \"valor\" },\n  \"isComplete\": false\n}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 300
        }
      },
      "id": "gpt-collect-data",
      "name": "GPT Collect Data",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2050, 1150],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi.id}}",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/patients",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.collectedData) }}"
      },
      "id": "create-patient",
      "name": "Create Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 1150]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-4o",
        "prompt": "Ajude o paciente a agendar consulta/sessão.\n\nDados do paciente: {{JSON.stringify($json.patient)}}\nProcedimentos disponíveis: {{JSON.stringify($json.clinic.procedures)}}\nConvênios: {{JSON.stringify($json.clinic.insuranceCompanies)}}\n\nMensagem: {{$json.message}}\nContexto: {{JSON.stringify($json.workflowContext)}}\n\nGuie o paciente passo a passo:\n1. Qual procedimento?\n2. Qual unidade? (Vieiralves ou São José)\n3. Qual convênio ou particular?\n4. Data preferida?\n5. Turno (Manhã/Tarde/Noite)?\n\nResponda em JSON:\n{\n  \"step\": \"procedure|clinic|insurance|date|time|ready\",\n  \"question\": \"Pergunta natural\",\n  \"schedulingData\": { \"campo\": \"valor\" },\n  \"isComplete\": false\n}",
        "options": {
          "temperature": 0.8,
          "maxTokens": 400
        }
      },
      "id": "gpt-scheduling",
      "name": "GPT Scheduling",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2050, 950],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi.id}}",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/appointments/check-availability",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.schedulingData) }}"
      },
      "id": "check-availability",
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 950]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "avail-cond",
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "is-available",
      "name": "Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2450, 950]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/appointments",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...($json.schedulingData || {}), patientId: $json.patient?.id, status: 'PENDING_CONFIRMATION' }) }}"
      },
      "id": "create-appointment",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 900]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-4o",
        "prompt": "O horário solicitado não está disponível.\n\nAlternativas disponíveis: {{JSON.stringify($json.alternatives || [])}}\n\nOfereça as alternativas de forma amigável e natural.",
        "options": {
          "temperature": 0.8,
          "maxTokens": 350
        }
      },
      "id": "gpt-alternatives",
      "name": "GPT Alternatives",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2650, 1000],
      "credentials": {
        "openAiApi": {
          "id": "{{$credentials.openAiApi.id}}",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/conversations/{{$json.conversationId}}/transfer",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ queue: 'PRINCIPAL', reason: 'Paciente solicitou atendimento humano', priority: 'NORMAL' }) }}"
      },
      "id": "transfer-human",
      "name": "Transfer to Human",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 1200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    conversationId: $input.item.json.conversationId,\n    message: $input.item.json.response || $input.item.json.question || 'Processado',\n    intent: $input.item.json.intent,\n    entities: $input.item.json.entities || {},\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/webhook/n8n-response",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "send-to-system",
      "name": "Send to System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3050, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3250, 1000]
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [[{"node": "Extract Data", "type": "main", "index": 0}]]
    },
    "Extract Data": {
      "main": [[
        {"node": "Get Context", "type": "main", "index": 0},
        {"node": "Get Clinic Data", "type": "main", "index": 0}
      ]]
    },
    "Get Context": {
      "main": [[{"node": "Merge Context", "type": "main", "index": 0}]]
    },
    "Get Clinic Data": {
      "main": [[{"node": "Merge Context", "type": "main", "index": 0}]]
    },
    "Merge Context": {
      "main": [[{"node": "GPT Classifier", "type": "main", "index": 0}]]
    },
    "GPT Classifier": {
      "main": [[{"node": "Parse GPT Response", "type": "main", "index": 0}]]
    },
    "Parse GPT Response": {
      "main": [[
        {"node": "Valores?", "type": "main", "index": 0},
        {"node": "Convenios?", "type": "main", "index": 0},
        {"node": "Localizacao?", "type": "main", "index": 0},
        {"node": "Agendar?", "type": "main", "index": 0},
        {"node": "Falar Humano?", "type": "main", "index": 0}
      ]]
    },
    "Valores?": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        []
      ]
    },
    "Convenios?": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        []
      ]
    },
    "Localizacao?": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        []
      ]
    },
    "Agendar?": {
      "main": [
        [{"node": "Search Patient", "type": "main", "index": 0}],
        []
      ]
    },
    "Falar Humano?": {
      "main": [
        [{"node": "Transfer to Human", "type": "main", "index": 0}],
        []
      ]
    },
    "Search Patient": {
      "main": [[{"node": "Patient Found?", "type": "main", "index": 0}]]
    },
    "Patient Found?": {
      "main": [
        [{"node": "GPT Scheduling", "type": "main", "index": 0}],
        [{"node": "GPT Collect Data", "type": "main", "index": 0}]
      ]
    },
    "GPT Collect Data": {
      "main": [[{"node": "Create Patient", "type": "main", "index": 0}]]
    },
    "Create Patient": {
      "main": [[{"node": "GPT Scheduling", "type": "main", "index": 0}]]
    },
    "GPT Scheduling": {
      "main": [[{"node": "Check Availability", "type": "main", "index": 0}]]
    },
    "Check Availability": {
      "main": [[{"node": "Available?", "type": "main", "index": 0}]]
    },
    "Available?": {
      "main": [
        [{"node": "Create Appointment", "type": "main", "index": 0}],
        [{"node": "GPT Alternatives", "type": "main", "index": 0}]
      ]
    },
    "Create Appointment": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "GPT Alternatives": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Transfer to Human": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Send to System", "type": "main", "index": 0}]]
    },
    "Send to System": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T00:00:00.000Z",
  "versionId": "2.0.0"
}
