n8n/SIMPLE_WORKFLOW.json
{
  "name": "ZoraH Bot Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode"
      },
      "id": "webhook-receiver",
      "name": "Webhook Receber",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 1000]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nreturn {\n  json: {\n    message: data.message || '',\n    phone: data.phone || '',\n    conversationId: data.conversationId || '',\n    patient: data.patient || {},\n    context: data.context || {},\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 1000]
    },
    {
      "parameters": {
        "url": "={{$env.ZORAHAPP_API_URL}}/api/conversations/{{$json.conversationId}}/context"
      },
      "id": "load-context",
      "name": "Carregar Contexto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 1000]
    },
    {
      "parameters": {
        "url": "={{$env.ZORAHAPP_API_URL}}/api/clinic/data"
      },
      "id": "load-clinic",
      "name": "Dados Clinica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 1150]
    },
    {
      "parameters": {
        "jsCode": "const baseData = $('Extrair Dados').first().json;\nconst contextData = $('Carregar Contexto').first().json || {};\nconst clinicData = $('Dados Clinica').first().json || {};\n\nreturn {\n  json: {\n    ...baseData,\n    clinic: clinicData,\n    history: contextData.history || [],\n    ready: true\n  }\n};"
      },
      "id": "merge",
      "name": "Mesclar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 1000]
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || '';\nconst lower = message.toLowerCase();\n\nlet intent = 'CONVERSA';\nlet response = 'Olá! Como posso ajudar?';\n\nif (lower.includes('agendar') || lower.includes('marcar') || lower.includes('consulta')) {\n  intent = 'AGENDAR';\n  response = 'Vou te ajudar a agendar! Qual procedimento você deseja?';\n} else if (lower.includes('cancelar')) {\n  intent = 'CANCELAR';\n  response = 'Entendi que deseja cancelar. Me informe o número do agendamento.';\n} else if (lower.includes('valor') || lower.includes('preço') || lower.includes('quanto')) {\n  intent = 'INFORMACAO';\n  response = 'Para informar valores corretos, qual unidade você prefere? Vieiralves ou São José?';\n} else if (lower.includes('horário') || lower.includes('horario')) {\n  intent = 'INFORMACAO';\n  response = '🕐 Horários: Seg-Sex 8h-21h | Sáb 8h-12h';\n} else if (lower.includes('endereço') || lower.includes('endereco') || lower.includes('onde')) {\n  intent = 'INFORMACAO';\n  response = '📍 Vieiralves: Rua Rio Içá, 850\\n📍 São José: Av. Acácias, 123';\n}\n\nreturn {\n  json: {\n    ...$json,\n    intent,\n    response,\n    confidence: 0.9\n  }\n};"
      },
      "id": "classify",
      "name": "Classificar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "value2": "INFORMACAO"
            }
          ]
        }
      },
      "id": "check-info",
      "name": "Info?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 800]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "value2": "AGENDAR"
            }
          ]
        }
      },
      "id": "check-schedule",
      "name": "Agendar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "value2": "CANCELAR"
            }
          ]
        }
      },
      "id": "check-cancel",
      "name": "Cancelar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 1200]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    conversationId: $json.conversationId,\n    message: $json.response || 'Processado',\n    intent: $json.intent,\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "format",
      "name": "Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1550, 1000]
    },
    {
      "parameters": {
        "url": "={{$env.ZORAHAPP_API_URL}}/webhook/n8n-response",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "id": "send-system",
      "name": "Enviar Sistema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1750, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1950, 1000]
    }
  ],
  "connections": {
    "Webhook Receber": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Carregar Contexto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Contexto": {
      "main": [
        [
          {
            "node": "Mesclar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Clinica": {
      "main": [
        [
          {
            "node": "Mesclar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar": {
      "main": [
        [
          {
            "node": "Classificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar": {
      "main": [
        [
          {
            "node": "Info?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agendar?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancelar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info?": {
      "main": [
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar?": {
      "main": [
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar?": {
      "main": [
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar": {
      "main": [
        [
          {
            "node": "Enviar Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Sistema": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T00:00:00.000Z",
  "versionId": "1"
}
