n8n/WORKFLOW_V21.json
{
  "name": "ZoraH Bot Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode"
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1000]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nreturn [{\n  json: {\n    message: data.message || '',\n    phone: data.phone || '',\n    conversationId: data.conversationId || '',\n    patient: data.patient || {},\n    context: data.context || {}\n  }\n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-2345-678901bcdefg",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 1000]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/conversations/{{$json.conversationId}}/context",
        "authentication": "none"
      },
      "id": "c3d4e5f6-a7b8-9012-3456-789012cdefgh",
      "name": "Get Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 950]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/clinic/data",
        "authentication": "none"
      },
      "id": "d4e5f6a7-b8c9-0123-4567-890123defghi",
      "name": "Get Clinic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 1050]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const baseData = $input.first().json;\nconst contextData = $input.all()[1]?.json || {};\nconst clinicData = $input.all()[2]?.json || {};\n\nreturn [{\n  json: {\n    ...baseData,\n    clinic: clinicData,\n    history: contextData.history || [],\n    ready: true\n  }\n}];"
      },
      "id": "e5f6a7b8-c9d0-1234-5678-901234efghij",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 1000]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const message = ($input.item.json.message || '').toLowerCase();\n\nlet intent = 'CONVERSA';\nlet response = 'Olá! Como posso ajudar?';\n\nif (message.includes('agendar') || message.includes('marcar')) {\n  intent = 'AGENDAR';\n  response = 'Vou te ajudar a agendar! Qual procedimento?';\n} else if (message.includes('cancelar')) {\n  intent = 'CANCELAR';\n  response = 'Me informe o número do agendamento.';\n} else if (message.includes('valor') || message.includes('quanto')) {\n  intent = 'INFORMACAO';\n  response = 'Qual unidade? Vieiralves ou São José?';\n} else if (message.includes('horário') || message.includes('horario')) {\n  intent = 'INFORMACAO';\n  response = '🕐 Seg-Sex 8h-21h | Sáb 8h-12h';\n} else if (message.includes('endereço') || message.includes('onde')) {\n  intent = 'INFORMACAO';\n  response = '📍 Vieiralves: Rua Rio Içá, 850\\n📍 São José: Av. Acácias, 123';\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    intent,\n    response,\n    confidence: 0.9\n  }\n}];"
      },
      "id": "f6a7b8c9-d0e1-2345-6789-012345fghijk",
      "name": "Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "info-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-7890-123456ghijkl",
      "name": "Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 900]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "schedule-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "AGENDAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-8901-234567hijklm",
      "name": "Agendar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cancel-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "CANCELAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-9012-345678ijklmn",
      "name": "Cancelar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 1100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    conversationId: $input.item.json.conversationId,\n    message: $input.item.json.response || 'Processado',\n    intent: $input.item.json.intent,\n    success: true\n  }\n}];"
      },
      "id": "d0e1f2a3-b4c5-6789-0123-456789jklmno",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/webhook/n8n-response",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "e1f2a3b4-c5d6-7890-1234-567890klmnop",
      "name": "Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "f2a3b4c5-d6e7-8901-2345-678901lmnopq",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1950, 1000]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Clinic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clinic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T00:00:00.000Z",
  "versionId": "1.0.0"
}
