n8n/WORKFLOW_FIXED_EDGES.json
{
  "name": "ZoraH Bot - Complete Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode"
      },
      "id": "webhook-start",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1000]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nreturn [{\n  json: {\n    message: data.message || '',\n    phone: data.phone || '',\n    conversationId: data.conversationId || '',\n    patient: data.patient || {},\n    context: data.context || {},\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 1000]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/conversations/{{$json.conversationId}}/context",
        "authentication": "none"
      },
      "id": "get-context",
      "name": "Get Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 950]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/clinic/data",
        "authentication": "none"
      },
      "id": "get-clinic",
      "name": "Get Clinic Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 1050]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const baseData = $input.first().json;\nconst contextData = $input.all()[1]?.json || {};\nconst clinicData = $input.all()[2]?.json || {};\n\nconst systemPrompt = `Você é Zorah, assistente virtual.\n\nDados: Procedimentos ${JSON.stringify(clinicData.procedures || [])} | Convênios ${JSON.stringify(clinicData.insuranceCompanies || [])} | Unidades: Vieiralves, São José\n\nRegras: SEMPRE pergunte UNIDADE antes de valores.\n\nIntenções: INFORMACAO_VALORES, INFORMACAO_CONVENIOS, INFORMACAO_LOCALIZACAO, EXPLICACAO_PROCEDIMENTO, AGENDAR, FALAR_ATENDENTE`;\n\nreturn [{\n  json: {\n    ...baseData,\n    systemPrompt,\n    clinic: clinicData,\n    history: contextData.history || [],\n    currentIntent: contextData.currentIntent,\n    workflowContext: contextData.workflowContext || {}\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 1000]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const message = ($input.item.json.message || '').toLowerCase();\n\nlet intent = 'CONVERSA';\nlet response = 'Olá! Como posso ajudar?';\nlet entities = {};\n\nif (message.includes('agendar') || message.includes('marcar')) {\n  intent = 'AGENDAR';\n  response = 'Vou te ajudar a agendar! Vou verificar seu cadastro.';\n} else if (message.includes('valor') || message.includes('quanto') || message.includes('preço')) {\n  intent = 'INFORMACAO_VALORES';\n  response = 'Para informar valores corretos, qual unidade você prefere? Vieiralves ou São José?';\n} else if (message.includes('convênio') || message.includes('convenio') || message.includes('plano')) {\n  intent = 'INFORMACAO_CONVENIOS';\n  response = 'Aceitamos: Bradesco, SulAmérica, Mediservice, Unimed, Amil. Também atendemos particular!';\n} else if (message.includes('endereço') || message.includes('endereco') || message.includes('onde')) {\n  intent = 'INFORMACAO_LOCALIZACAO';\n  response = '📍 Vieiralves: Rua Rio Içá, 850 | São José: Av. Acácias, 123';\n} else if (message.includes('horário') || message.includes('horario')) {\n  intent = 'INFORMACAO_LOCALIZACAO';\n  response = '🕐 Horários: Seg-Sex 8h-21h | Sáb 8h-12h';\n} else if (message.includes('atendente') || message.includes('humano') || message.includes('pessoa')) {\n  intent = 'FALAR_ATENDENTE';\n  response = 'Vou transferir você para um atendente humano!';\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    intent,\n    response,\n    confidence: 0.9,\n    entities,\n    needsMoreInfo: false\n  }\n}];"
      },
      "id": "classifier",
      "name": "Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "valores-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO_VALORES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-valores",
      "name": "Valores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "convenios-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO_CONVENIOS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-convenios",
      "name": "Convenios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 750]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "loc-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "INFORMACAO_LOCALIZACAO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-location",
      "name": "Localizacao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 900]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "agendar-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "AGENDAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-agendar",
      "name": "Agendar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 1050]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "human-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "FALAR_ATENDENTE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "check-human",
      "name": "Falar Humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 1200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/patients/search?phone={{$json.phone}}",
        "authentication": "none"
      },
      "id": "search-patient",
      "name": "Search Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 1050]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "patient-found-cond",
              "leftValue": "={{ $json.id ? true : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "patient-found",
      "name": "Patient Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 1050]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    ...$input.item.json,\n    response: 'Preciso coletar alguns dados. Qual seu nome completo?',\n    nextStep: 'collect_data'\n  }\n}];"
      },
      "id": "start-collect",
      "name": "Start Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 1150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/patients",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'Paciente Novo', phone: $json.phone, registrationComplete: false }) }}"
      },
      "id": "create-patient",
      "name": "Create Patient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 1150]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    ...$input.item.json,\n    response: 'Ótimo! Agora vamos agendar. Qual procedimento você deseja?',\n    nextStep: 'scheduling'\n  }\n}];"
      },
      "id": "start-scheduling",
      "name": "Start Scheduling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 950]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/appointments/check-availability",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: '2025-12-30', time: '10:00' }) }}"
      },
      "id": "check-availability",
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 950]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "avail-cond",
              "leftValue": "={{ $json.available !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        }
      },
      "id": "is-available",
      "name": "Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2250, 950]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/appointments",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ patientId: $json.patient?.id, status: 'PENDING' }) }}"
      },
      "id": "create-appointment",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 900]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    ...$input.item.json,\n    response: 'Esse horário está ocupado. Posso oferecer: Amanhã 14h ou Sexta 10h?',\n    hasAlternatives: true\n  }\n}];"
      },
      "id": "offer-alternatives",
      "name": "Offer Alternatives",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/api/conversations/{{$json.conversationId}}/transfer",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ queue: 'PRINCIPAL', reason: 'Solicitou atendimento humano' }) }}"
      },
      "id": "transfer-human",
      "name": "Transfer to Human",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 1200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    conversationId: $input.item.json.conversationId,\n    message: $input.item.json.response || 'Processado',\n    intent: $input.item.json.intent,\n    entities: $input.item.json.entities || {},\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZORAHAPP_API_URL}}/webhook/n8n-response",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "send-to-system",
      "name": "Send to System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2850, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3050, 1000]
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [[{"node": "Extract Data", "type": "main", "index": 0}]]
    },
    "Extract Data": {
      "main": [[
        {"node": "Get Context", "type": "main", "index": 0},
        {"node": "Get Clinic Data", "type": "main", "index": 0}
      ]]
    },
    "Get Context": {
      "main": [[{"node": "Merge Context", "type": "main", "index": 0}]]
    },
    "Get Clinic Data": {
      "main": [[{"node": "Merge Context", "type": "main", "index": 0}]]
    },
    "Merge Context": {
      "main": [[{"node": "Classifier", "type": "main", "index": 0}]]
    },
    "Classifier": {
      "main": [[
        {"node": "Valores?", "type": "main", "index": 0},
        {"node": "Convenios?", "type": "main", "index": 0},
        {"node": "Localizacao?", "type": "main", "index": 0},
        {"node": "Agendar?", "type": "main", "index": 0},
        {"node": "Falar Humano?", "type": "main", "index": 0}
      ]]
    },
    "Valores?": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        []
      ]
    },
    "Convenios?": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        []
      ]
    },
    "Localizacao?": {
      "main": [
        [{"node": "Format Response", "type": "main", "index": 0}],
        []
      ]
    },
    "Agendar?": {
      "main": [
        [{"node": "Search Patient", "type": "main", "index": 0}],
        []
      ]
    },
    "Falar Humano?": {
      "main": [
        [{"node": "Transfer to Human", "type": "main", "index": 0}],
        []
      ]
    },
    "Search Patient": {
      "main": [[{"node": "Patient Found?", "type": "main", "index": 0}]]
    },
    "Patient Found?": {
      "main": [
        [{"node": "Start Scheduling", "type": "main", "index": 0}],
        [{"node": "Start Collect", "type": "main", "index": 0}]
      ]
    },
    "Start Collect": {
      "main": [[{"node": "Create Patient", "type": "main", "index": 0}]]
    },
    "Create Patient": {
      "main": [[{"node": "Start Scheduling", "type": "main", "index": 0}]]
    },
    "Start Scheduling": {
      "main": [[{"node": "Check Availability", "type": "main", "index": 0}]]
    },
    "Check Availability": {
      "main": [[{"node": "Available?", "type": "main", "index": 0}]]
    },
    "Available?": {
      "main": [
        [{"node": "Create Appointment", "type": "main", "index": 0}],
        [{"node": "Offer Alternatives", "type": "main", "index": 0}]
      ]
    },
    "Create Appointment": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Offer Alternatives": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Transfer to Human": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Send to System", "type": "main", "index": 0}]]
    },
    "Send to System": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T00:00:00.000Z",
  "versionId": "3.0.0"
}
