n8n/Zorah bot n8n ativo.json
{
  "updatedAt": "2026-03-30T20:16:40.704Z",
  "createdAt": "2025-12-31T00:44:03.596Z",
  "id": "5xTy00n8X2mmwJ7z",
  "name": "ZoraH Bot - Simple v2.2.4",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $json.body || $json;\nconst conversationId = data.conversationId || '';\n\nif (!conversationId) throw new Error('conversationId ausente');\n\nfunction djb2hex(str) {\n  let h = 5381;\n  for (let i = 0; i < str.length; i++) {\n    h = (Math.imul(h, 33) + str.charCodeAt(i)) | 0;\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nconst sessionId = djb2hex(conversationId);\nconst platform   = data.platform  || 'whatsapp';\nconst needsPhone = platform === 'instagram';\n\nreturn [{\n  json: {\n    chatInput:       data.message  || '',\n    phone:           data.phone    || '',\n    conversationId,\n    sessionId,\n    platform,\n    needsPhone,\n    patient:         data.patient  || {},\n    context:         data.context  || {},\n    appointmentFlow: data.context?.appointmentFlow || {\n      patientChecked: false,\n      patientData: null,\n      insuranceValidated: false,\n      step: 'initial'\n    },\n    messageReceivedAt: Date.now(),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "4b894735-f1a7-43ba-8dfe-046b2f68c284",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18176,
        13392
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zorahapp2-production.up.railway.app/api/patients/upsert-from-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-bot-key",
              "value": "=8c84cf63c3b91fc2a3c74902280e68b4422e42486d47f0d8f3c19bae8d05b6ea"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  name: $json.patientName || 'Novo Paciente',\n  email: $json.email || null,\n  insuranceCompany: $json.convenioId ? String($json.convenioId) : null,\n  source: 'bot'\n}) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "c83135b2-69a3-48c9-b7d9-2f617a887587",
      "name": "Upsert Patient ZoraH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18480,
        13168
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ `Você é **Zorah**, a IA classificadora de intenções do IAAM.\nVocê opera exclusivamente em conversas de **WhatsApp e Instagram**.\n\n────────────────────────────\n🧑 PACIENTE IDENTIFICADO:\n────────────────────────────\n${ $json.patientName ? `Nome do paciente: ${$json.patientName}. Use o nome ao cumprimentar.` : 'Paciente ainda não identificado. NÃO invente o nome.' }\n\n────────────────────────────\n⚠️ REGRAS GERAIS OBRIGATÓRIAS\n────────────────────────────\n- Sempre identifique-se como assistente virtual Zorah do IAAM\n- Sempre responda em português (Brasil)\n- Sempre utilize linguagem clara, educada e humana\n- Sempre formate respostas para chat\n- Sempre retorne um JSON válido no formato definido ao final\n- NÃO invente dados\n- NÃO pule etapas do fluxo\n\n────────────────────────────\n🎯 MISSÃO PRINCIPAL\n────────────────────────────\n1. Verificar se a **UNIDADE** foi informada\n2. Se não foi informada → perguntar a unidade\n3. Somente após isso → classificar a intenção\n\n────────────────────────────\n🏥 UNIDADES DISPONÍVEIS\n────────────────────────────\n1 - Unidade Vieiralves  \n2 - Unidade São José  \n\n────────────────────────────\n🔁 FLUXO OBRIGATÓRIO\n────────────────────────────\n\n### 1️⃣ VERIFICAR UNIDADE\nSe a mensagem do paciente **NÃO mencionar explicitamente**:\n- Vieiralves\n- São José\n\nENTÃO:\n- NÃO classifique outra intenção\n- Defina intent = PEDIR_UNIDADE\n- Defina needsUnit = true\n- Responda perguntando a unidade da forma abaixo:\n\n\"Para qual unidade você deseja atendimento? 😊  \nPor favor, escolha uma opção:  \n1️⃣ Vieiralves  \n2️⃣ São José\"\n\n---\n\nSe a unidade **JÁ estiver mencionada**, prossiga para a classificação de intenção.\n\n────────────────────────────\n### 2️⃣ CLASSIFICAÇÃO DE INTENÇÃO\n────────────────────────────\nClassifique a mensagem em **apenas UMA** das intenções abaixo:\n\n🔹 **INFORMACAO**\n- Perguntas gerais\n- Procedimentos\n- Valores\n- Convênios\n- Localização\n- Horários\n- Cumprimentos (oi, olá, bom dia)\n- Dúvidas ou curiosidade\n\n🔹 **AGENDAR**\n⚠️ SOMENTE se houver palavras EXPLÍCITAS:\n- \"agendar\"\n- \"marcar\"\n- \"reservar\"\n\n➡️ Se não houver essas palavras, NÃO classificar como AGENDAR  \n➡️ Confiança mínima: 0.90\n\n🔹 **FALAR_ATENDENTE**\n- Pedido para falar com humano\n- Solicitação de atendimento pessoal\n- Reclamação do robô\n\n🔹 **PEDIR_UNIDADE**\n- Sempre que for necessário perguntar a unidade\n\n────────────────────────────\n📌 REGRAS DE DECISÃO\n────────────────────────────\n- Unidade SEMPRE vem antes da intenção\n- Cumprimento simples = INFORMACAO (após unidade)\n- Em dúvida → INFORMACAO\n- Nunca assumir agendamento\n- Nunca misturar intenções\n\n────────────────────────────\n📤 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n────────────────────────────\n\nResponda SEMPRE neste formato JSON:\n\n{\n  \"intent\": \"INFORMACAO | AGENDAR | FALAR_ATENDENTE | PEDIR_UNIDADE\",\n  \"confidence\": 0.95,\n  \"unit\": \"Vieiralves | São José | null\",\n  \"response\": \"Mensagem clara, gentil e adequada ao paciente\",\n  \"needsUnit\": true | false\n}\n\n}` }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        18800,
        13264
      ],
      "id": "ef05b1f9-a3ca-402d-b58f-d4f5a9f62723",
      "name": "Intent Classifier Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        18752,
        13632
      ],
      "id": "e370116e-3bd7-401c-8f50-39a6474b70e3",
      "name": "Gemini Intent Model",
      "credentials": {
        "googlePalmApi": {
          "id": "u6LqYmP5hc5nmBjY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        18928,
        13584
      ],
      "id": "d7d19343-38ff-4ac5-a92a-0eef97dfcfec",
      "name": "Postgres Memory Intent",
      "credentials": {
        "postgres": {
          "id": "H9gXAAtqPOhWpc8g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawAgent=($json.agentOutput||''); const chatInput=($json.chatInput||''); const conversationId=($json.conversationId||''); const sessionId=($json.sessionId||''); const phone=($json.phone||''); const platform=($json.platform||'whatsapp'); const patientName=($json.patientName||null); const patientFound=($json.patientFound||false); const convenioId=($json.convenioId||null); const needsPhone=($json.needsPhone||false); const patient=($json.patient||{}); const context=($json.context||{}); const messageReceivedAt=$json.messageReceivedAt; const appointmentFlow=($json.appointmentFlow||{patientChecked:false,patientData:null,insuranceValidated:false,step:'initial'});\nfunction extractText(v){if(!v)return'';if(typeof v==='string')return v;if(v.output&&typeof v.output==='string')return v.output;if(v.text)return v.text;if(v.response)return v.response;return JSON.stringify(v);}\nlet rawText=extractText(rawAgent).replace(/^json\\s*\\n?/i,'').trim();\nlet intent='INFORMACAO',confidence=0.5,unit=null,needsUnit=false,parsedResponse=null;\nconst m=rawText.match(/\\{[\\s\\S]*?\\}/);\nif(m){try{const p=JSON.parse(m[0]);intent=p.intent||intent;confidence=p.confidence||confidence;unit=p.unit||null;needsUnit=p.needsUnit??false;parsedResponse=p.response||null;}catch(_){}}\nif(!unit&&chatInput){const lo=chatInput.toLowerCase();if(lo.includes('vieiralves'))unit='Vieiralves';else if(lo.includes('são josé')||lo.includes('sao jose'))unit='São José';}\nif(chatInput){const lo=chatInput.toLowerCase();if(['agendar','marcar','reservar'].some(k=>lo.includes(k))){intent='AGENDAR';confidence=0.9;}else if(['atendente','humano','falar com'].some(k=>lo.includes(k))){intent='FALAR_ATENDENTE';confidence=0.95;}}\nif(!['INFORMACAO','AGENDAR','FALAR_ATENDENTE','PEDIR_UNIDADE'].includes(intent))intent='INFORMACAO';\nif(!unit&&(intent==='AGENDAR'||intent==='INFORMACAO')){needsUnit=true;intent='PEDIR_UNIDADE';}\n\n// Detectar seleção de unidade: mensagem curta que apenas escolhe a unidade\nconst unitSelectionPattern = /^[12]$|^(1️⃣|2️⃣)$|^(vieiralves|s[aã]o\\s*jos[eé]|unidade\\s*[12])$/i;\nconst isUnitSelection = !!(unit && chatInput.trim() && unitSelectionPattern.test(chatInput.trim()) && intent === 'INFORMACAO');\nif (isUnitSelection) { intent = 'CONFIRMAR_UNIDADE'; }\n\nreturn [{json:{conversationId,sessionId,intent,confidence,unit,needsUnit,isUnitSelection,response:parsedResponse||rawText,chatInput,originalMessage:chatInput,phone,platform,needsPhone,patient,patientFound,patientName,convenioId,context,appointmentFlow,messageReceivedAt,success:true}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19168,
        13152
      ],
      "id": "aa22d26b-dcbf-4ca0-8229-fe6f1bfbc3b1",
      "name": "Parse Intent Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "CONFIRMAR_UNIDADE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "confirmar-unidade-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmar_unidade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "INFORMACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "info-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "information"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "AGENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "appointment-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FALAR_ATENDENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "transfer-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "transfer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "unit-condition",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "PEDIR_UNIDADE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_unidade"
            }
          ]
        },
        "options": {}
      },
      "id": "231a0010-a0ac-4be1-abc3-21509486ac77",
      "name": "Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        19248,
        13392
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\n\nlet message = null;\n\nif (data.response) {\n  if (typeof data.response === 'string') {\n    try {\n      const parsed = JSON.parse(data.response);\n      if (parsed.response) message = parsed.response;\n    } catch (e) {\n      message = data.response;\n    }\n  } else {\n    message = data.response;\n  }\n}\n\nif (!message && data.message) message = data.message;\n\nif (message && typeof message === 'string') {\n  message = message.replace(/^json\\s*\\n?/i, '').trim();\n  const bt = String.fromCharCode(96);\n  message = message.replace(new RegExp('^' + bt + bt + bt + 'json\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp('^' + bt + bt + bt + '\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp(bt + bt + bt + '\\\\s*$', 'i'), '').trim();\n}\n\nif (!message || message.trim() === '') {\n  message = 'Qual unidade você prefere?\\n1 - Vieiralves\\n2 - São José\\n\\nDigite o número da unidade desejada. 😊';\n}\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: message,\n    intent: data.intent || 'PEDIR_UNIDADE',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    appointmentFlow: data.appointmentFlow || null,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "3eab372c-9ebf-46a8-aa8c-7c328fed7c97",
      "name": "Format Ask Unit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19440,
        13696
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Transferindo para atendente. Aguarde! 😊',\n    intent: 'FALAR_ATENDENTE',\n    action: 'TRANSFER_TO_HUMAN',\n    requiresHumanIntervention: true,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
      },
      "id": "a730e79a-1d23-4d3e-bd92-3554eed72ef2",
      "name": "Handler Transfer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19440,
        13792
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ `Você é **Zorah**, assistente de informações do IAAM.\n\n────────────────────────────\n🧑 PACIENTE:\n────────────────────────────\n${ $json.patientName ? `Nome: ${$json.patientName}. Cumprimente-o pelo nome na primeira mensagem da conversa.` : 'Paciente não identificado. NÃO invente o nome.' }\n\n## UNIDADE SELECIONADA:\n${$json.unit ? `Unidade: ${$json.unit}` : 'Unidade não selecionada ainda'}\n\n────────────────────────────\n⚠️ REGRAS ANTI-ALUCINAÇÃO (ABSOLUTAS):\n────────────────────────────\n1. NUNCA invente preços, procedimentos ou convênios. Use APENAS os dados retornados pelas tools.\n2. Se um procedimento não estiver na lista da API, diga: \"No momento não oferecemos esse serviço nesta unidade.\"\n3. Se um convênio não estiver na lista, diga: \"Esse convênio não é aceito nesta unidade.\"\n4. Se um preço não estiver disponível na API, diga: \"Para informações de valor, por favor entre em contato.\"\n5. Use SEMPRE os valores exatos retornados pela API. Não arredonde nem estime.\n6. Consulte OBRIGATORIAMENTE a tool da unidade ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios.\n\n## REGRAS:\nPricipal, não respostas sem pergutas, não envie preços sem o paciente ter perguntado!!\n1. **Se não tem unidade:**\n   → PERGUNTAR: \"Qual unidade você prefere? Vieiralves ou São José?\"\n\n2. **Se tem unidade selecionada:**\n   → Use a tool específica da unidade:\n   - Se unidade = \"Vieiralves\" → use tool \"Base de Informações da Unidade Vieiralves\"\n   - Se unidade = \"São José\" → use tool \"Base de Informações da Unidade São José\"\n   → Responda com informações ESPECÍFICAS daquela unidade\n\n3. **Seja amigável e clara 😊**\n4. **Use as informações da clínica da unidade selecionada**\n5. **Mantenha contexto (memória)**\n6. **Convide para agendar quando relevante**\n7. **Traga sempre informações completas, mas compactas**\n8. **Sempre formate as respostas da melhor forma possível**\n9. **Sempre analise qual tipo de informação o paciente quer, entregue somente o necessário**\n10. Não forneça respostas extensas.\n11. Atente-se sempre somente aos procedimentos que as clínicas possuem.\n\n## EXEMPLOS:\n- Sem unidade: \"Olá! 😊 Para melhor atendê-lo, qual unidade você prefere? Vieiralves ou São José?\"\n- Com unidade: \"Ótimo! Na unidade ${$json.unit}, temos... [informações específicas]\"` }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        19664,
        12816
      ],
      "id": "e617a874-e0fd-41d3-92fe-07cb93628459",
      "name": "Information Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19552,
        13184
      ],
      "id": "0f7cc05e-6e5a-4a6f-919f-54da61b389ae",
      "name": "Gemini Information Model",
      "credentials": {
        "googlePalmApi": {
          "id": "u6LqYmP5hc5nmBjY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        19696,
        13184
      ],
      "id": "21938810-5085-4567-9fda-a70040ce408c",
      "name": "Postgres Memory Information",
      "credentials": {
        "postgres": {
          "id": "H9gXAAtqPOhWpc8g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade Vieiralves. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
        "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/vieiralves",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        19872,
        13168
      ],
      "id": "71228a2e-651e-4692-9f59-e1a282cd7c62",
      "name": "HTTP Request Vieiralves"
    },
    {
      "parameters": {
        "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade São José. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
        "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/sao-jose",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        20048,
        13168
      ],
      "id": "ae89258d-598f-4436-98f1-972c8ef40675",
      "name": "HTTP Request São José"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\n\nfunction extractText(res) {\n  if (!res) return null;\n  if (typeof res === 'string') return res;\n  if (typeof res.agentOutput === 'string') return res.agentOutput;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output && typeof res.output.text === 'string') return res.output.text;\n  if (typeof res.text === 'string') return res.text;\n  return null;\n}\n\nconst conversationId = raw.conversationId || '';\nif (!conversationId) throw new Error('conversationId ausente no Parse Information');\n\nconst responseText = extractText(raw) || 'Desculpe, não consegui processar sua pergunta.';\n\nreturn [{\n  json: {\n    conversationId,\n    message: responseText,\n    intent: 'INFORMACAO',\n    action: 'RESPOND',\n    messageReceivedAt: raw.messageReceivedAt,\n    phone: raw.phone || '',\n    platform: raw.platform || 'whatsapp',\n    sessionId: raw.sessionId || '',\n    success: true\n  }\n}];\n"
      },
      "id": "ec48645c-3e77-401d-b0b1-e7cd7649cc41",
      "name": "Parse Information Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20400,
        12896
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\nif (!data.message) throw new Error('message obrigatório');\n\nconst now = Date.now();\nconst messageReceivedAt = data.messageReceivedAt || now;\nconst responseTimeMs = now - messageReceivedAt;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: data.message,\n    intent: data.intent || 'INFORMACAO',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini-v2.2.4-simple',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    requiresQueueTransfer: data.requiresQueueTransfer || false,\n    queueName: data.queueName || null,\n    appointmentFlow: data.appointmentFlow || null,\n    metrics: {\n      intent: data.intent || 'INFORMACAO',\n      responseTimeMs: responseTimeMs,\n      timestamp: new Date().toISOString(),\n      requiresTransfer: data.requiresQueueTransfer || false\n    },\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "3facf87f-c290-4205-97a2-7e29af6ab5ef",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21440,
        13392
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zorahapp2-production.up.railway.app/webhook/n8n-response",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversationId: $json.conversationId,\n  message: $json.message,\n  intent: $json.intent,\n  action: $json.action,\n  aiProvider: $json.aiProvider,\n  appointmentFlow: $json.appointmentFlow,\n  requiresQueueTransfer: $json.requiresQueueTransfer,\n  queueName: $json.queueName,\n  metrics: $json.metrics\n} }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "f7db9d45-7478-43af-baa4-cedcc09c3b57",
      "name": "Send to System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        21648,
        13392
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e818da5e-eaa1-4345-a3f3-5fbbce0c65d2",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21840,
        13392
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Entendi que você deseja agendar um procedimento. Vou transferir você para nossa equipe de atendimento que irá auxiliá-lo com o agendamento. Aguarde um momento! 😊',\n    intent: 'AGENDAR',\n    action: 'TRANSFER_TO_QUEUE',\n    requiresQueueTransfer: true,\n    queueName: 'Principal',\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
      },
      "id": "2f564920-9c34-4eaa-8a3d-a43fe7b06989",
      "name": "Handle Appointment Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19632,
        13424
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Apenas passar os dados adiante (métricas já estão em data.metrics)\nreturn [{ json: data }];\n"
      },
      "id": "ad1cdfce-7d1d-4c74-a040-5e850dec4c1c",
      "name": "Prepare Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21472,
        13616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nwbh.ghotmidia.com/webhook/EVOIAAM",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensagem_paciente",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18112,
        13600
      ],
      "id": "29c01e3f-9a5e-4a06-a609-3d01756b3ef2",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// $json = Extract Data output — sem cross-node reference\nconst ex = $json;\nconst phone = ex.phone || '';\nlet patientFound = false, patientName = null, convenioId = null,\n    email = null, clinicaAgilId = null;\n\nif (phone) {\n  try {\n    const fd = new FormData();\n    fd.append('numero_paciente', phone);\n    const resp = await fetch(\n      'https://app2.clinicaagil.com.br/api/integration/patient_data',\n      {\n        method: 'POST',\n        headers: {\n          'X-API-KEY': 'a5dcc76d202fdc2eb86646c9e57754b19f34fff30332b865b19cca44232b460b-c1a-5468970561',\n          'X-API-METHOD': 'Ch4tB0tW4tsS4v3QRc0d3'\n        },\n        body: fd,\n        signal: AbortSignal.timeout(5000)\n      }\n    );\n    if (resp.ok) {\n      const data = await resp.json();\n      if (data.status === 'success' && data.data) {\n        patientFound  = true;\n        patientName   = data.data.paciente_nome || null;\n        convenioId    = data.data.convenio_id   || null;\n        email         = data.data.email          || null;\n        clinicaAgilId = data.data.paciente_id    || null;\n      }\n    }\n  } catch(_) { /* timeout ou erro — continua sem dados do paciente */ }\n}\n\nreturn [{ json: { ...ex, patientFound, patientName, convenioId, email, clinicaAgilId } }];"
      },
      "id": "a2f5475c-b22f-4ab0-879a-c379b5ee59c1",
      "name": "Lookup & Parse Patient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18336,
        13392
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "730ca094-e75e-4cf2-b2b5-0cfefab4f6ee",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        17920,
        13392
      ],
      "webhookId": "d152cfe1-4e45-4c68-af81-e69e6d4fa2f6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee087cf-b94f-42fc-b0a1-e84fbc6d74ce",
              "name": "chatInput",
              "value": "={{ $('Lookup & Parse Patient').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "9948c80c-6606-4867-a083-7ce2cb68d48d",
              "name": "phone",
              "value": "={{ $('Lookup & Parse Patient').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "10ab8805-4c3f-4e73-9606-9c130942e529",
              "name": "conversationId",
              "value": "={{ $('Lookup & Parse Patient').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "8513fd02-daa9-469d-b691-017b6eafb994",
              "name": "sessionId",
              "value": "={{ $('Lookup & Parse Patient').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "0988b523-8032-4852-9f17-804e8ec9f374",
              "name": "platform",
              "value": "={{ $('Lookup & Parse Patient').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "3598c207-3c05-40b8-aa06-6d234b5b74a3",
              "name": "patientName",
              "value": "={{ $('Lookup & Parse Patient').item.json.patientName }}",
              "type": "string"
            },
            {
              "id": "a67eecca-7ea4-4b9a-8ae5-b7734886c68e",
              "name": "patientFound",
              "value": "={{ $('Lookup & Parse Patient').item.json.patientFound }}",
              "type": "boolean"
            },
            {
              "id": "306516ad-fb50-4ac9-b5fa-2f5ee4c95596",
              "name": "convenioId",
              "value": "={{ $('Lookup & Parse Patient').item.json.convenioId }}",
              "type": "string"
            },
            {
              "id": "fcc546ef-41f2-45dd-9931-4057c0bbca7c",
              "name": "needsPhone",
              "value": "={{ $('Lookup & Parse Patient').item.json.needsPhone }}",
              "type": "boolean"
            },
            {
              "id": "8d743953-2532-4105-8d83-2667a497ee20",
              "name": "messageReceivedAt",
              "value": "={{ $('Lookup & Parse Patient').item.json.messageReceivedAt }}",
              "type": "string"
            },
            {
              "id": "0ed3c662-49bc-4e67-9431-38a4ca30a7d8",
              "name": "patient",
              "value": "={{ $('Lookup & Parse Patient').item.json.patient }}",
              "type": "object"
            },
            {
              "id": "ba4d1f52-b656-42f3-8604-78b3f79db7c1",
              "name": "context",
              "value": "={{ $('Lookup & Parse Patient').item.json.context }}",
              "type": "object"
            },
            {
              "id": "a3b5fd1c-eb55-444b-a370-3651f28f6d6f",
              "name": "appointmentFlow",
              "value": "={{ $('Lookup & Parse Patient').item.json.appointmentFlow }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "e5be6318-1760-4a97-a9cb-2bce94e1de5e",
      "name": "Set: Intent Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18720,
        13056
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e808c3f0-e9b9-42f5-a090-9bdc24eace59",
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "5efb8db4-e0d8-479e-a68e-951b2c76db07",
              "name": "chatInput",
              "value": "={{ $('Set: Intent Context').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "db76b5ef-845e-4e8a-a1c7-461bef3912b2",
              "name": "phone",
              "value": "={{ $('Set: Intent Context').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "4825271a-4c9d-4b3c-bb27-f7e1058af4be",
              "name": "conversationId",
              "value": "={{ $('Set: Intent Context').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "97cfef82-8035-4655-ab56-70a6e5feafd0",
              "name": "sessionId",
              "value": "={{ $('Set: Intent Context').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "cdd5ed19-6878-4aa7-8ae7-a055455c6ccd",
              "name": "platform",
              "value": "={{ $('Set: Intent Context').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "d615b195-20c6-4908-b57f-db247bd5a155",
              "name": "patientName",
              "value": "={{ $('Set: Intent Context').item.json.patientName }}",
              "type": "string"
            },
            {
              "id": "e4a3147d-8864-4074-b5ab-b6a98b639aed",
              "name": "patientFound",
              "value": "={{ $('Set: Intent Context').item.json.patientFound }}",
              "type": "boolean"
            },
            {
              "id": "baa27165-89b7-4055-a968-580acda2a236",
              "name": "convenioId",
              "value": "={{ $('Set: Intent Context').item.json.convenioId }}",
              "type": "string"
            },
            {
              "id": "9f46a900-01ee-4157-9dc4-a5c219a5ba07",
              "name": "needsPhone",
              "value": "={{ $('Set: Intent Context').item.json.needsPhone }}",
              "type": "boolean"
            },
            {
              "id": "6eb616eb-8170-498b-a4e9-3e61d3e6e488",
              "name": "messageReceivedAt",
              "value": "={{ $('Set: Intent Context').item.json.messageReceivedAt }}",
              "type": "string"
            },
            {
              "id": "05a73967-e871-44a5-9c2b-519f5f8f59aa",
              "name": "patient",
              "value": "={{ $('Set: Intent Context').item.json.patient }}",
              "type": "object"
            },
            {
              "id": "816b634c-541c-442e-9654-dc9454a2162f",
              "name": "context",
              "value": "={{ $('Set: Intent Context').item.json.context }}",
              "type": "object"
            },
            {
              "id": "1e6360e2-59a1-4030-a294-a466784af3ef",
              "name": "appointmentFlow",
              "value": "={{ $('Set: Intent Context').item.json.appointmentFlow }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "4809121a-9a51-48a8-83ba-6cf8e5c3d191",
      "name": "Set: Pre-Parse Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18960,
        13376
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac39e51d-10fb-4647-81a7-186b031af0f4",
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "e34f9efa-52a1-4f98-8337-62079ed51378",
              "name": "conversationId",
              "value": "={{ $('Set: Intent Context').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "22136e2f-4808-4511-9f1e-395fd2288825",
              "name": "sessionId",
              "value": "={{ $('Set: Intent Context').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "8e574157-8926-4e91-8ad3-9f32b3166079",
              "name": "phone",
              "value": "={{ $('Set: Intent Context').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "722c6b75-2226-46a8-9af4-140598072c74",
              "name": "platform",
              "value": "={{ $('Set: Intent Context').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "90db7da9-cda0-44ac-92b3-04987ec4a2ae",
              "name": "messageReceivedAt",
              "value": "={{ $('Set: Intent Context').item.json.messageReceivedAt }}",
              "type": "string"
            },
            {
              "id": "269ffc34-dbba-42ac-8cbc-384edd129311",
              "name": "chatInput",
              "value": "={{ $('Set: Intent Context').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "25461955-c60c-4e47-9bfb-35a0622ddc3a",
              "name": "patientName",
              "value": "={{ $('Set: Intent Context').item.json.patientName }}",
              "type": "string"
            },
            {
              "id": "a0520d74-79b5-45a5-9e17-05dac408a4a9",
              "name": "patientFound",
              "value": "={{ $('Set: Intent Context').item.json.patientFound }}",
              "type": "boolean"
            },
            {
              "id": "4a660f5d-4c6b-478d-af35-e65f307554f6",
              "name": "convenioId",
              "value": "={{ $('Set: Intent Context').item.json.convenioId }}",
              "type": "string"
            },
            {
              "id": "0018d195-f35a-4ef1-b364-7b8c54c1066f",
              "name": "patient",
              "value": "={{ $('Set: Intent Context').item.json.patient }}",
              "type": "object"
            },
            {
              "id": "4de66cac-b95a-4614-80b4-097c1d5f95fa",
              "name": "appointmentFlow",
              "value": "={{ $('Set: Intent Context').item.json.appointmentFlow }}",
              "type": "object"
            },
            {
              "id": "d06c4068-ee81-4930-a04b-ce1b0e872467",
              "name": "unit",
              "value": "={{ $('Parse Intent Response').item.json.unit }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83860500-f1d8-4014-9378-c19bcd719dd4",
      "name": "Set: Info Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20032,
        12896
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body || $json;\nconst conversationId = data.conversationId || '';\n\nif (!conversationId) throw new Error('conversationId ausente');\n\nfunction djb2hex(str) {\n  let h = 5381;\n  for (let i = 0; i < str.length; i++) {\n    h = (Math.imul(h, 33) + str.charCodeAt(i)) | 0;\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nconst sessionId = djb2hex(conversationId);\nconst platform   = data.platform  || 'whatsapp';\nconst needsPhone = platform === 'instagram';\n\nreturn [{\n  json: {\n    chatInput:       data.message  || '',\n    phone:           data.phone    || '',\n    conversationId,\n    sessionId,\n    platform,\n    needsPhone,\n    patient:         data.patient  || {},\n    context:         data.context  || {},\n    appointmentFlow: data.context?.appointmentFlow || {\n      patientChecked: false,\n      patientData: null,\n      insuranceValidated: false,\n      step: 'initial'\n    },\n    messageReceivedAt: Date.now(),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "39021b68-9711-48c3-852a-6dbc91b23b85",
      "name": "Extract Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13360,
        15296
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zorahapp2-production.up.railway.app/api/patients/upsert-from-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-bot-key",
              "value": "=8c84cf63c3b91fc2a3c74902280e68b4422e42486d47f0d8f3c19bae8d05b6ea"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  name: $json.patientName || 'Novo Paciente',\n  email: $json.email || null,\n  insuranceCompany: $json.convenioId ? String($json.convenioId) : null,\n  source: 'bot'\n}) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "76300717-2980-4586-b7cc-e38de7546d76",
      "name": "Upsert Patient ZoraH1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13664,
        15072
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ `Você é **Zorah**, a IA classificadora de intenções do IAAM.\nVocê opera exclusivamente em conversas de **WhatsApp e Instagram**.\n\n────────────────────────────\n🧑 PACIENTE IDENTIFICADO:\n────────────────────────────\n${ $json.patientName ? `Nome do paciente: ${$json.patientName}. Use o nome ao cumprimentar.` : 'Paciente ainda não identificado. NÃO invente o nome.' }\n\n────────────────────────────\n⚠️ REGRAS GERAIS OBRIGATÓRIAS\n────────────────────────────\n- Sempre identifique-se como assistente virtual Zorah do IAAM\n- Sempre responda em português (Brasil)\n- Sempre utilize linguagem clara, educada e humana\n- Sempre formate respostas para chat\n- Sempre retorne um JSON válido no formato definido ao final\n- NÃO invente dados\n- NÃO pule etapas do fluxo\n\n────────────────────────────\n🎯 MISSÃO PRINCIPAL\n────────────────────────────\n1. Verificar se a **UNIDADE** foi informada\n2. Se não foi informada → perguntar a unidade\n3. Somente após isso → classificar a intenção\n\n────────────────────────────\n🏥 UNIDADES DISPONÍVEIS\n────────────────────────────\n1 - Unidade Vieiralves  \n2 - Unidade São José  \n\n────────────────────────────\n🔁 FLUXO OBRIGATÓRIO\n────────────────────────────\n\n### 1️⃣ VERIFICAR UNIDADE\nSe a mensagem do paciente **NÃO mencionar explicitamente**:\n- Vieiralves\n- São José\n\nENTÃO:\n- NÃO classifique outra intenção\n- Defina intent = PEDIR_UNIDADE\n- Defina needsUnit = true\n- Responda perguntando a unidade da forma abaixo:\n\n\"Para qual unidade você deseja atendimento? 😊  \nPor favor, escolha uma opção:  \n1️⃣ Vieiralves  \n2️⃣ São José\"\n\n---\n\nSe a unidade **JÁ estiver mencionada**, prossiga para a classificação de intenção.\n\n────────────────────────────\n### 2️⃣ CLASSIFICAÇÃO DE INTENÇÃO\n────────────────────────────\nClassifique a mensagem em **apenas UMA** das intenções abaixo:\n\n🔹 **INFORMACAO**\n- Perguntas gerais\n- Procedimentos\n- Valores\n- Convênios\n- Localização\n- Horários\n- Cumprimentos (oi, olá, bom dia)\n- Dúvidas ou curiosidade\n\n🔹 **AGENDAR**\n⚠️ SOMENTE se houver palavras EXPLÍCITAS:\n- \"agendar\"\n- \"marcar\"\n- \"reservar\"\n\n➡️ Se não houver essas palavras, NÃO classificar como AGENDAR  \n➡️ Confiança mínima: 0.90\n\n🔹 **FALAR_ATENDENTE**\n- Pedido para falar com humano\n- Solicitação de atendimento pessoal\n- Reclamação do robô\n\n🔹 **PEDIR_UNIDADE**\n- Sempre que for necessário perguntar a unidade\n\n────────────────────────────\n📌 REGRAS DE DECISÃO\n────────────────────────────\n- Unidade SEMPRE vem antes da intenção\n- Cumprimento simples = INFORMACAO (após unidade)\n- Em dúvida → INFORMACAO\n- Nunca assumir agendamento\n- Nunca misturar intenções\n\n────────────────────────────\n📤 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n────────────────────────────\n\nResponda SEMPRE neste formato JSON:\n\n{\n  \"intent\": \"INFORMACAO | AGENDAR | FALAR_ATENDENTE | PEDIR_UNIDADE\",\n  \"confidence\": 0.95,\n  \"unit\": \"Vieiralves | São José | null\",\n  \"response\": \"Mensagem clara, gentil e adequada ao paciente\",\n  \"needsUnit\": true | false\n}\n\n}` }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        13984,
        15168
      ],
      "id": "dd09968a-69a1-4902-8044-648079c7eab5",
      "name": "Intent Classifier Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        13936,
        15536
      ],
      "id": "4441e085-f582-42c0-85c3-4b29f0f23e70",
      "name": "Gemini Intent Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "u6LqYmP5hc5nmBjY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data1').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        14112,
        15488
      ],
      "id": "8a5a8a58-789a-4e67-b4fa-2066a8ba261a",
      "name": "Postgres Memory Intent1",
      "credentials": {
        "postgres": {
          "id": "H9gXAAtqPOhWpc8g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\n\nfunction extractText(res) {\n  if (!res) return '';\n  if (typeof res === 'string') return res;\n  if (typeof res.agentOutput === 'string') return res.agentOutput;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output?.text) return res.output.text;\n  if (res.text) return res.text;\n  if (res.response) return res.response;\n  if (res.message) return res.message;\n  return '';\n}\n\nlet rawText = extractText(raw).replace(/^json\\s*\\n?/i, '').trim();\n\nconst conversationId = raw.conversationId || '';\nconst chatInput      = raw.chatInput      || '';\nconst sessionId      = raw.sessionId      || '';\n\nlet intent = 'INFORMACAO', confidence = 0.5, unit = null,\n    needsUnit = false, parsedResponse = null, reasoning = '';\n\nconst m = rawText.match(/\\{[\\s\\S]*?\\}/);\nif (m) {\n  try {\n    const p = JSON.parse(m[0]);\n    intent         = p.intent      || intent;\n    confidence     = p.confidence  || confidence;\n    reasoning      = p.reasoning   || '';\n    unit           = p.unit        || null;\n    needsUnit      = p.needsUnit   ?? false;\n    parsedResponse = p.response    || null;\n  } catch(_) {}\n}\n\nif (raw.intent) {\n  intent     = raw.intent;\n  confidence = raw.confidence || confidence;\n  unit       = raw.unit || unit;\n}\n\nif (!unit && chatInput) {\n  const lo = chatInput.toLowerCase();\n  if (lo.includes('vieiralves'))                               unit = 'Vieiralves';\n  else if (lo.includes('são josé') || lo.includes('sao jose')) unit = 'São José';\n}\n\nif (chatInput) {\n  const lo = chatInput.toLowerCase();\n  if (['agendar','marcar','reservar'].some(k => lo.includes(k)))         { intent = 'AGENDAR';         confidence = 0.9;  }\n  else if (['atendente','humano','falar com'].some(k => lo.includes(k))) { intent = 'FALAR_ATENDENTE'; confidence = 0.95; }\n}\n\nconst validIntents = ['INFORMACAO','AGENDAR','FALAR_ATENDENTE','PEDIR_UNIDADE'];\nif (!validIntents.includes(intent)) intent = 'INFORMACAO';\n\nif (!unit && (intent === 'AGENDAR' || intent === 'INFORMACAO')) {\n  needsUnit = true;\n  intent    = 'PEDIR_UNIDADE';\n}\n\nreturn [{\n  json: {\n    conversationId,\n    sessionId,\n    intent,\n    confidence,\n    reasoning,\n    unit,\n    needsUnit,\n    response:        parsedResponse || rawText,\n    chatInput,\n    originalMessage: chatInput,\n    phone:           raw.phone           || '',\n    platform:        raw.platform        || 'whatsapp',\n    needsPhone:      raw.needsPhone      || false,\n    patient:         raw.patient         || {},\n    patientFound:    raw.patientFound    || false,\n    patientName:     raw.patientName     || null,\n    convenioId:      raw.convenioId      || null,\n    context:         raw.context         || {},\n    appointmentFlow: raw.appointmentFlow || {\n      patientChecked: false, patientData: null,\n      insuranceValidated: false, step: 'initial'\n    },\n    messageReceivedAt: raw.messageReceivedAt,\n    success: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14352,
        15056
      ],
      "id": "5d60c14c-107c-4715-83d7-58d78e45c4fb",
      "name": "Parse Intent Response1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "INFORMACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "info-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "information"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "AGENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "appointment-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FALAR_ATENDENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "transfer-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "transfer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "unit-condition",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "PEDIR_UNIDADE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_unidade"
            }
          ]
        },
        "options": {}
      },
      "id": "ad22ebf5-a5bc-4b0f-b828-93ac7999d167",
      "name": "Intent Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        14432,
        15296
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\n\nlet message = null;\n\nif (data.response) {\n  if (typeof data.response === 'string') {\n    try {\n      const parsed = JSON.parse(data.response);\n      if (parsed.response) message = parsed.response;\n    } catch (e) {\n      message = data.response;\n    }\n  } else {\n    message = data.response;\n  }\n}\n\nif (!message && data.message) message = data.message;\n\nif (message && typeof message === 'string') {\n  message = message.replace(/^json\\s*\\n?/i, '').trim();\n  const bt = String.fromCharCode(96);\n  message = message.replace(new RegExp('^' + bt + bt + bt + 'json\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp('^' + bt + bt + bt + '\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp(bt + bt + bt + '\\\\s*$', 'i'), '').trim();\n}\n\nif (!message || message.trim() === '') {\n  message = 'Qual unidade você prefere?\\n1 - Vieiralves\\n2 - São José\\n\\nDigite o número da unidade desejada. 😊';\n}\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: message,\n    intent: data.intent || 'PEDIR_UNIDADE',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    appointmentFlow: data.appointmentFlow || null,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "546bb115-ef87-424e-9701-8bf0a1708364",
      "name": "Format Ask Unit Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14624,
        15600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Transferindo para atendente. Aguarde! 😊',\n    intent: 'FALAR_ATENDENTE',\n    action: 'TRANSFER_TO_HUMAN',\n    requiresHumanIntervention: true,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
      },
      "id": "176e95ef-cd10-4355-8993-f4178274da65",
      "name": "Handler Transfer1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14624,
        15696
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ `Você é **Zorah**, assistente de informações do IAAM.\n\n────────────────────────────\n🧑 PACIENTE:\n────────────────────────────\n${ $json.patientName ? `Nome: ${$json.patientName}. Cumprimente-o pelo nome na primeira mensagem da conversa.` : 'Paciente não identificado. NÃO invente o nome.' }\n\n## UNIDADE SELECIONADA:\n${$json.unit ? `Unidade: ${$json.unit}` : 'Unidade não selecionada ainda'}\n\n────────────────────────────\n⚠️ REGRAS ANTI-ALUCINAÇÃO (ABSOLUTAS):\n────────────────────────────\n1. NUNCA invente preços, procedimentos ou convênios. Use APENAS os dados retornados pelas tools.\n2. Se um procedimento não estiver na lista da API, diga: \"No momento não oferecemos esse serviço nesta unidade.\"\n3. Se um convênio não estiver na lista, diga: \"Esse convênio não é aceito nesta unidade.\"\n4. Se um preço não estiver disponível na API, diga: \"Para informações de valor, por favor entre em contato.\"\n5. Use SEMPRE os valores exatos retornados pela API. Não arredonde nem estime.\n6. Consulte OBRIGATORIAMENTE a tool da unidade ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios.\n\n## REGRAS:\n1. **Se não tem unidade:**\n   → PERGUNTAR: \"Qual unidade você prefere? Vieiralves ou São José?\"\n\n2. **Se tem unidade selecionada:**\n   → Use a tool específica da unidade:\n   - Se unidade = \"Vieiralves\" → use tool \"Base de Informações da Unidade Vieiralves\"\n   - Se unidade = \"São José\" → use tool \"Base de Informações da Unidade São José\"\n   → Responda com informações ESPECÍFICAS daquela unidade\n\n3. **Seja amigável e clara 😊**\n4. **Use as informações da clínica da unidade selecionada**\n5. **Mantenha contexto (memória)**\n6. **Convide para agendar quando relevante**\n7. **Traga sempre informações completas, mas compactas**\n8. **Sempre formate as respostas da melhor forma possível**\n9. **Sempre analise qual tipo de informação o paciente quer, entregue somente o necessário**\n10. Não forneça respostas extensas.\n11. Atente-se sempre somente aos procedimentos que as clínicas possuem.\n\n## EXEMPLOS:\n- Sem unidade: \"Olá! 😊 Para melhor atendê-lo, qual unidade você prefere? Vieiralves ou São José?\"\n- Com unidade: \"Ótimo! Na unidade ${$json.unit}, temos... [informações específicas]\"` }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        14848,
        14720
      ],
      "id": "44325162-4c3b-4006-acae-f770781731ec",
      "name": "Information Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        14736,
        15088
      ],
      "id": "fc14d04b-60f1-4e53-8d40-a90a9eb97e0d",
      "name": "Gemini Information Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "u6LqYmP5hc5nmBjY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        14880,
        15088
      ],
      "id": "c53aed84-7e10-478a-a131-8358f0decc90",
      "name": "Postgres Memory Information1",
      "credentials": {
        "postgres": {
          "id": "H9gXAAtqPOhWpc8g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade Vieiralves. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
        "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/vieiralves",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        15056,
        15072
      ],
      "id": "4fb5e183-080b-47dc-b314-f5e12357cb69",
      "name": "HTTP Request Vieiralves1"
    },
    {
      "parameters": {
        "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade São José. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
        "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/sao-jose",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        15232,
        15072
      ],
      "id": "0a581611-33f8-4c70-9f51-68488413b002",
      "name": "HTTP Request São José1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\n\nfunction extractText(res) {\n  if (!res) return null;\n  if (typeof res === 'string') return res;\n  if (typeof res.agentOutput === 'string') return res.agentOutput;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output && typeof res.output.text === 'string') return res.output.text;\n  if (typeof res.text === 'string') return res.text;\n  return null;\n}\n\nconst conversationId = raw.conversationId || '';\nif (!conversationId) throw new Error('conversationId ausente no Parse Information');\n\nconst responseText = extractText(raw) || 'Desculpe, não consegui processar sua pergunta.';\n\nreturn [{\n  json: {\n    conversationId,\n    message: responseText,\n    intent: 'INFORMACAO',\n    action: 'RESPOND',\n    messageReceivedAt: raw.messageReceivedAt,\n    phone: raw.phone || '',\n    platform: raw.platform || 'whatsapp',\n    sessionId: raw.sessionId || '',\n    success: true\n  }\n}];\n"
      },
      "id": "f653872a-fc03-4510-8066-1b1389d99ec6",
      "name": "Parse Information Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15584,
        14800
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\nif (!data.message) throw new Error('message obrigatório');\n\nconst now = Date.now();\nconst messageReceivedAt = data.messageReceivedAt || now;\nconst responseTimeMs = now - messageReceivedAt;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: data.message,\n    intent: data.intent || 'INFORMACAO',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini-v2.2.4-simple',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    requiresQueueTransfer: data.requiresQueueTransfer || false,\n    queueName: data.queueName || null,\n    appointmentFlow: data.appointmentFlow || null,\n    metrics: {\n      intent: data.intent || 'INFORMACAO',\n      responseTimeMs: responseTimeMs,\n      timestamp: new Date().toISOString(),\n      requiresTransfer: data.requiresQueueTransfer || false\n    },\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "07e2cdb6-ea89-4fd5-9166-a9d3af5e8ed5",
      "name": "Format Final Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16624,
        15296
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zorahapp2-production.up.railway.app/webhook/n8n-response",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversationId: $json.conversationId,\n  message: $json.message,\n  intent: $json.intent,\n  action: $json.action,\n  aiProvider: $json.aiProvider,\n  appointmentFlow: $json.appointmentFlow,\n  requiresQueueTransfer: $json.requiresQueueTransfer,\n  queueName: $json.queueName,\n  metrics: $json.metrics\n} }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "d1d1e3c1-0c29-43c8-b134-24d53aa49103",
      "name": "Send to System1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16832,
        15296
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "672ccd17-c0c4-4567-85b2-9c25be86a6f4",
      "name": "Webhook Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        17024,
        15296
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Entendi que você deseja agendar um procedimento. Vou transferir você para nossa equipe de atendimento que irá auxiliá-lo com o agendamento. Aguarde um momento! 😊',\n    intent: 'AGENDAR',\n    action: 'TRANSFER_TO_QUEUE',\n    requiresQueueTransfer: true,\n    queueName: 'Principal',\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
      },
      "id": "a7334387-0958-4acc-9c12-5980a2d72450",
      "name": "Handle Appointment Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14816,
        15328
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Apenas passar os dados adiante (métricas já estão em data.metrics)\nreturn [{ json: data }];\n"
      },
      "id": "8ba64fb5-1bcf-4ba1-b4bc-4694bc6c693c",
      "name": "Prepare Analytics1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16656,
        15520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nwbh.ghotmidia.com/webhook/EVOIAAM",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensagem_paciente",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13296,
        15504
      ],
      "id": "995db85c-94a4-412b-a9ee-d723ef8117bd",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// $json = Extract Data output — sem cross-node reference\nconst ex = $json;\nconst phone = ex.phone || '';\nlet patientFound = false, patientName = null, convenioId = null,\n    email = null, clinicaAgilId = null;\n\nif (phone) {\n  try {\n    const fd = new FormData();\n    fd.append('numero_paciente', phone);\n    const resp = await fetch(\n      'https://app2.clinicaagil.com.br/api/integration/patient_data',\n      {\n        method: 'POST',\n        headers: {\n          'X-API-KEY': 'a5dcc76d202fdc2eb86646c9e57754b19f34fff30332b865b19cca44232b460b-c1a-5468970561',\n          'X-API-METHOD': 'Ch4tB0tW4tsS4v3QRc0d3'\n        },\n        body: fd,\n        signal: AbortSignal.timeout(5000)\n      }\n    );\n    if (resp.ok) {\n      const data = await resp.json();\n      if (data.status === 'success' && data.data) {\n        patientFound  = true;\n        patientName   = data.data.paciente_nome || null;\n        convenioId    = data.data.convenio_id   || null;\n        email         = data.data.email          || null;\n        clinicaAgilId = data.data.paciente_id    || null;\n      }\n    }\n  } catch(_) { /* timeout ou erro — continua sem dados do paciente */ }\n}\n\nreturn [{ json: { ...ex, patientFound, patientName, convenioId, email, clinicaAgilId } }];"
      },
      "id": "cac2d63f-5e3d-48fd-896f-4a805372121c",
      "name": "Lookup & Parse Patient1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13520,
        15296
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee087cf-b94f-42fc-b0a1-e84fbc6d74ce",
              "name": "chatInput",
              "value": "={{ $('Lookup & Parse Patient1').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "9948c80c-6606-4867-a083-7ce2cb68d48d",
              "name": "phone",
              "value": "={{ $('Lookup & Parse Patient1').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "10ab8805-4c3f-4e73-9606-9c130942e529",
              "name": "conversationId",
              "value": "={{ $('Lookup & Parse Patient1').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "8513fd02-daa9-469d-b691-017b6eafb994",
              "name": "sessionId",
              "value": "={{ $('Lookup & Parse Patient1').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "0988b523-8032-4852-9f17-804e8ec9f374",
              "name": "platform",
              "value": "={{ $('Lookup & Parse Patient1').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "3598c207-3c05-40b8-aa06-6d234b5b74a3",
              "name": "patientName",
              "value": "={{ $('Lookup & Parse Patient1').item.json.patientName }}",
              "type": "string"
            },
            {
              "id": "a67eecca-7ea4-4b9a-8ae5-b7734886c68e",
              "name": "patientFound",
              "value": "={{ $('Lookup & Parse Patient1').item.json.patientFound }}",
              "type": "boolean"
            },
            {
              "id": "306516ad-fb50-4ac9-b5fa-2f5ee4c95596",
              "name": "convenioId",
              "value": "={{ $('Lookup & Parse Patient1').item.json.convenioId }}",
              "type": "string"
            },
            {
              "id": "fcc546ef-41f2-45dd-9931-4057c0bbca7c",
              "name": "needsPhone",
              "value": "={{ $('Lookup & Parse Patient1').item.json.needsPhone }}",
              "type": "boolean"
            },
            {
              "id": "8d743953-2532-4105-8d83-2667a497ee20",
              "name": "messageReceivedAt",
              "value": "={{ $('Lookup & Parse Patient1').item.json.messageReceivedAt }}",
              "type": "string"
            },
            {
              "id": "0ed3c662-49bc-4e67-9431-38a4ca30a7d8",
              "name": "patient",
              "value": "={{ $('Lookup & Parse Patient1').item.json.patient }}",
              "type": "object"
            },
            {
              "id": "ba4d1f52-b656-42f3-8604-78b3f79db7c1",
              "name": "context",
              "value": "={{ $('Lookup & Parse Patient1').item.json.context }}",
              "type": "object"
            },
            {
              "id": "a3b5fd1c-eb55-444b-a370-3651f28f6d6f",
              "name": "appointmentFlow",
              "value": "={{ $('Lookup & Parse Patient1').item.json.appointmentFlow }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "07232703-ab12-4dfa-a53a-736f470b4c44",
      "name": "Set: Intent Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13904,
        14960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e808c3f0-e9b9-42f5-a090-9bdc24eace59",
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "5efb8db4-e0d8-479e-a68e-951b2c76db07",
              "name": "chatInput",
              "value": "={{ $('Set: Intent Context1').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "db76b5ef-845e-4e8a-a1c7-461bef3912b2",
              "name": "phone",
              "value": "={{ $('Set: Intent Context1').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "4825271a-4c9d-4b3c-bb27-f7e1058af4be",
              "name": "conversationId",
              "value": "={{ $('Set: Intent Context1').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "97cfef82-8035-4655-ab56-70a6e5feafd0",
              "name": "sessionId",
              "value": "={{ $('Set: Intent Context1').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "cdd5ed19-6878-4aa7-8ae7-a055455c6ccd",
              "name": "platform",
              "value": "={{ $('Set: Intent Context1').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "d615b195-20c6-4908-b57f-db247bd5a155",
              "name": "patientName",
              "value": "={{ $('Set: Intent Context1').item.json.patientName }}",
              "type": "string"
            },
            {
              "id": "e4a3147d-8864-4074-b5ab-b6a98b639aed",
              "name": "patientFound",
              "value": "={{ $('Set: Intent Context1').item.json.patientFound }}",
              "type": "boolean"
            },
            {
              "id": "baa27165-89b7-4055-a968-580acda2a236",
              "name": "convenioId",
              "value": "={{ $('Set: Intent Context1').item.json.convenioId }}",
              "type": "string"
            },
            {
              "id": "9f46a900-01ee-4157-9dc4-a5c219a5ba07",
              "name": "needsPhone",
              "value": "={{ $('Set: Intent Context1').item.json.needsPhone }}",
              "type": "boolean"
            },
            {
              "id": "6eb616eb-8170-498b-a4e9-3e61d3e6e488",
              "name": "messageReceivedAt",
              "value": "={{ $('Set: Intent Context1').item.json.messageReceivedAt }}",
              "type": "string"
            },
            {
              "id": "05a73967-e871-44a5-9c2b-519f5f8f59aa",
              "name": "patient",
              "value": "={{ $('Set: Intent Context1').item.json.patient }}",
              "type": "object"
            },
            {
              "id": "816b634c-541c-442e-9654-dc9454a2162f",
              "name": "context",
              "value": "={{ $('Set: Intent Context1').item.json.context }}",
              "type": "object"
            },
            {
              "id": "1e6360e2-59a1-4030-a294-a466784af3ef",
              "name": "appointmentFlow",
              "value": "={{ $('Set: Intent Context1').item.json.appointmentFlow }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "bd5a8998-91d8-4e51-bb39-4fbbf89ac0d9",
      "name": "Set: Pre-Parse Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14144,
        15280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac39e51d-10fb-4647-81a7-186b031af0f4",
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "e34f9efa-52a1-4f98-8337-62079ed51378",
              "name": "conversationId",
              "value": "={{ $('Set: Intent Context1').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "22136e2f-4808-4511-9f1e-395fd2288825",
              "name": "sessionId",
              "value": "={{ $('Set: Intent Context1').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "8e574157-8926-4e91-8ad3-9f32b3166079",
              "name": "phone",
              "value": "={{ $('Set: Intent Context1').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "722c6b75-2226-46a8-9af4-140598072c74",
              "name": "platform",
              "value": "={{ $('Set: Intent Context1').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "90db7da9-cda0-44ac-92b3-04987ec4a2ae",
              "name": "messageReceivedAt",
              "value": "={{ $('Set: Intent Context1').item.json.messageReceivedAt }}",
              "type": "string"
            },
            {
              "id": "269ffc34-dbba-42ac-8cbc-384edd129311",
              "name": "chatInput",
              "value": "={{ $('Set: Intent Context1').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "25461955-c60c-4e47-9bfb-35a0622ddc3a",
              "name": "patientName",
              "value": "={{ $('Set: Intent Context1').item.json.patientName }}",
              "type": "string"
            },
            {
              "id": "a0520d74-79b5-45a5-9e17-05dac408a4a9",
              "name": "patientFound",
              "value": "={{ $('Set: Intent Context1').item.json.patientFound }}",
              "type": "boolean"
            },
            {
              "id": "4a660f5d-4c6b-478d-af35-e65f307554f6",
              "name": "convenioId",
              "value": "={{ $('Set: Intent Context1').item.json.convenioId }}",
              "type": "string"
            },
            {
              "id": "0018d195-f35a-4ef1-b364-7b8c54c1066f",
              "name": "patient",
              "value": "={{ $('Set: Intent Context1').item.json.patient }}",
              "type": "object"
            },
            {
              "id": "4de66cac-b95a-4614-80b4-097c1d5f95fa",
              "name": "appointmentFlow",
              "value": "={{ $('Set: Intent Context1').item.json.appointmentFlow }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "fe47da5f-5f62-4d25-b550-d21bfb6b7b12",
      "name": "Set: Info Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15216,
        14800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2f8a1f49-395d-45aa-bef5-41bfa8eb7de1",
      "name": "Webhook Backup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        13104,
        15296
      ],
      "webhookId": "d152cfe1-4e45-4c68-af81-e69e6d4fa2f6",
      "disabled": true
    },
    {
      "id": "1b82be54-72cd-40d0-963b-eca783900bae",
      "name": "Format Unit Welcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19440,
        13900
      ],
      "parameters": {
        "jsCode": "// Resposta deterministíca de boas-vindas à unidade — sem LLM\nconst data = $json;\nconst unit = data.unit || '';\nconst patientName = data.patientName;\n\nlet greeting = '';\nif (patientName) {\n  greeting = `Olá, ${patientName}! `;\n} else {\n  const hora = new Date().getHours();\n  if (hora < 12) greeting = 'Bom dia! ';\n  else if (hora < 18) greeting = 'Boa tarde! ';\n  else greeting = 'Boa noite! ';\n}\n\nconst message = `${greeting}Você selecionou a unidade **${unit}**. 😊\\n\\nComo posso te ajudar? Você pode perguntar sobre:\\n• Procedimentos e valores\\n• Convênios aceitos\\n• Horários de atendimento\\n• Ou, se preferir, posso te encaminhar para agendamento!`;\n\nreturn [{json:{\n  conversationId: data.conversationId || '',\n  message,\n  intent: 'INFORMACAO',\n  action: 'RESPOND',\n  messageReceivedAt: data.messageReceivedAt,\n  success: true\n}}];"
      }
    }
  ],
  "connections": {
    "Extract Data": {
      "main": [
        [
          {
            "node": "Lookup & Parse Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Patient ZoraH": {
      "main": [
        [
          {
            "node": "Set: Intent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier Agent": {
      "main": [
        [
          {
            "node": "Set: Pre-Parse Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Intent Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory Intent": {
      "ai_memory": [
        [
          {
            "node": "Intent Classifier Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Response": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Format Unit Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Appointment Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handler Transfer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Ask Unit Response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Ask Unit Response": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Transfer": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Agent": {
      "main": [
        [
          {
            "node": "Set: Info Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Information Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory Information": {
      "ai_memory": [
        [
          {
            "node": "Information Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Vieiralves": {
      "ai_tool": [
        [
          {
            "node": "Information Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request São José": {
      "ai_tool": [
        [
          {
            "node": "Information Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Information Response": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Prepare Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to System": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Appointment Request": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analytics": {
      "main": [
        [
          {
            "node": "Send to System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup & Parse Patient": {
      "main": [
        [
          {
            "node": "Upsert Patient ZoraH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Intent Context": {
      "main": [
        [
          {
            "node": "Intent Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Pre-Parse Context": {
      "main": [
        [
          {
            "node": "Parse Intent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Info Context": {
      "main": [
        [
          {
            "node": "Parse Information Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data1": {
      "main": [
        [
          {
            "node": "Lookup & Parse Patient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Patient ZoraH1": {
      "main": [
        [
          {
            "node": "Set: Intent Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier Agent1": {
      "main": [
        [
          {
            "node": "Set: Pre-Parse Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Intent Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory Intent1": {
      "ai_memory": [
        [
          {
            "node": "Intent Classifier Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Response1": {
      "main": [
        [
          {
            "node": "Intent Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router1": {
      "main": [
        [
          {
            "node": "Information Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Appointment Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handler Transfer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Ask Unit Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Ask Unit Response1": {
      "main": [
        [
          {
            "node": "Format Final Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Transfer1": {
      "main": [
        [
          {
            "node": "Format Final Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Agent1": {
      "main": [
        [
          {
            "node": "Set: Info Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Information Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory Information1": {
      "ai_memory": [
        [
          {
            "node": "Information Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Vieiralves1": {
      "ai_tool": [
        [
          {
            "node": "Information Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request São José1": {
      "ai_tool": [
        [
          {
            "node": "Information Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Information Response1": {
      "main": [
        [
          {
            "node": "Format Final Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response1": {
      "main": [
        [
          {
            "node": "Prepare Analytics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to System1": {
      "main": [
        [
          {
            "node": "Webhook Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Appointment Request1": {
      "main": [
        [
          {
            "node": "Format Final Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analytics1": {
      "main": [
        [
          {
            "node": "Send to System1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup & Parse Patient1": {
      "main": [
        [
          {
            "node": "Upsert Patient ZoraH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Intent Context1": {
      "main": [
        [
          {
            "node": "Intent Classifier Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Pre-Parse Context1": {
      "main": [
        [
          {
            "node": "Parse Intent Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Info Context1": {
      "main": [
        [
          {
            "node": "Parse Information Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Backup": {
      "main": [
        [
          {
            "node": "Extract Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unit Welcome": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "63dda322-b661-452e-a775-908703764f99",
  "activeVersionId": "63dda322-b661-452e-a775-908703764f99",
  "versionCounter": 222,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-31T00:44:03.596Z",
      "createdAt": "2025-12-31T00:44:03.596Z",
      "role": "workflow:owner",
      "workflowId": "5xTy00n8X2mmwJ7z",
      "projectId": "1uArfNJle0MS74hn",
      "project": {
        "updatedAt": "2025-12-30T23:22:49.404Z",
        "createdAt": "2025-12-30T23:20:52.718Z",
        "id": "1uArfNJle0MS74hn",
        "name": "Kalebe Caldas <kalebecaldas@iaamazonas.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4ab24550-688d-4044-9dc0-ff30ff49555f",
        "projectRelations": [
          {
            "updatedAt": "2025-12-30T23:20:52.718Z",
            "createdAt": "2025-12-30T23:20:52.718Z",
            "userId": "4ab24550-688d-4044-9dc0-ff30ff49555f",
            "projectId": "1uArfNJle0MS74hn",
            "user": {
              "updatedAt": "2026-03-30T10:37:02.718Z",
              "createdAt": "2025-12-30T23:20:51.697Z",
              "id": "4ab24550-688d-4044-9dc0-ff30ff49555f",
              "email": "kalebecaldas@iaamazonas.com.br",
              "firstName": "Kalebe",
              "lastName": "Caldas",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-30T23:23:11.486Z",
                "personalization_survey_n8n_version": "2.1.4",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "5xTy00n8X2mmwJ7z",
                "userActivatedAt": 1768114598514,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772477966237
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-30T20:16:40.707Z",
    "createdAt": "2026-03-30T20:16:40.707Z",
    "versionId": "63dda322-b661-452e-a775-908703764f99",
    "workflowId": "5xTy00n8X2mmwJ7z",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const data = $json.body || $json;\nconst conversationId = data.conversationId || '';\n\nif (!conversationId) throw new Error('conversationId ausente');\n\nfunction djb2hex(str) {\n  let h = 5381;\n  for (let i = 0; i < str.length; i++) {\n    h = (Math.imul(h, 33) + str.charCodeAt(i)) | 0;\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nconst sessionId = djb2hex(conversationId);\nconst platform   = data.platform  || 'whatsapp';\nconst needsPhone = platform === 'instagram';\n\nreturn [{\n  json: {\n    chatInput:       data.message  || '',\n    phone:           data.phone    || '',\n    conversationId,\n    sessionId,\n    platform,\n    needsPhone,\n    patient:         data.patient  || {},\n    context:         data.context  || {},\n    appointmentFlow: data.context?.appointmentFlow || {\n      patientChecked: false,\n      patientData: null,\n      insuranceValidated: false,\n      step: 'initial'\n    },\n    messageReceivedAt: Date.now(),\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "4b894735-f1a7-43ba-8dfe-046b2f68c284",
        "name": "Extract Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          18176,
          13392
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://zorahapp2-production.up.railway.app/api/patients/upsert-from-bot",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-bot-key",
                "value": "=8c84cf63c3b91fc2a3c74902280e68b4422e42486d47f0d8f3c19bae8d05b6ea"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  name: $json.patientName || 'Novo Paciente',\n  email: $json.email || null,\n  insuranceCompany: $json.convenioId ? String($json.convenioId) : null,\n  source: 'bot'\n}) }}",
          "options": {
            "timeout": 8000
          }
        },
        "id": "c83135b2-69a3-48c9-b7d9-2f617a887587",
        "name": "Upsert Patient ZoraH",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          18480,
          13168
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "={{ `Você é **Zorah**, a IA classificadora de intenções do IAAM.\nVocê opera exclusivamente em conversas de **WhatsApp e Instagram**.\n\n────────────────────────────\n🧑 PACIENTE IDENTIFICADO:\n────────────────────────────\n${ $json.patientName ? `Nome do paciente: ${$json.patientName}. Use o nome ao cumprimentar.` : 'Paciente ainda não identificado. NÃO invente o nome.' }\n\n────────────────────────────\n⚠️ REGRAS GERAIS OBRIGATÓRIAS\n────────────────────────────\n- Sempre identifique-se como assistente virtual Zorah do IAAM\n- Sempre responda em português (Brasil)\n- Sempre utilize linguagem clara, educada e humana\n- Sempre formate respostas para chat\n- Sempre retorne um JSON válido no formato definido ao final\n- NÃO invente dados\n- NÃO pule etapas do fluxo\n\n────────────────────────────\n🎯 MISSÃO PRINCIPAL\n────────────────────────────\n1. Verificar se a **UNIDADE** foi informada\n2. Se não foi informada → perguntar a unidade\n3. Somente após isso → classificar a intenção\n\n────────────────────────────\n🏥 UNIDADES DISPONÍVEIS\n────────────────────────────\n1 - Unidade Vieiralves  \n2 - Unidade São José  \n\n────────────────────────────\n🔁 FLUXO OBRIGATÓRIO\n────────────────────────────\n\n### 1️⃣ VERIFICAR UNIDADE\nSe a mensagem do paciente **NÃO mencionar explicitamente**:\n- Vieiralves\n- São José\n\nENTÃO:\n- NÃO classifique outra intenção\n- Defina intent = PEDIR_UNIDADE\n- Defina needsUnit = true\n- Responda perguntando a unidade da forma abaixo:\n\n\"Para qual unidade você deseja atendimento? 😊  \nPor favor, escolha uma opção:  \n1️⃣ Vieiralves  \n2️⃣ São José\"\n\n---\n\nSe a unidade **JÁ estiver mencionada**, prossiga para a classificação de intenção.\n\n────────────────────────────\n### 2️⃣ CLASSIFICAÇÃO DE INTENÇÃO\n────────────────────────────\nClassifique a mensagem em **apenas UMA** das intenções abaixo:\n\n🔹 **INFORMACAO**\n- Perguntas gerais\n- Procedimentos\n- Valores\n- Convênios\n- Localização\n- Horários\n- Cumprimentos (oi, olá, bom dia)\n- Dúvidas ou curiosidade\n\n🔹 **AGENDAR**\n⚠️ SOMENTE se houver palavras EXPLÍCITAS:\n- \"agendar\"\n- \"marcar\"\n- \"reservar\"\n\n➡️ Se não houver essas palavras, NÃO classificar como AGENDAR  \n➡️ Confiança mínima: 0.90\n\n🔹 **FALAR_ATENDENTE**\n- Pedido para falar com humano\n- Solicitação de atendimento pessoal\n- Reclamação do robô\n\n🔹 **PEDIR_UNIDADE**\n- Sempre que for necessário perguntar a unidade\n\n────────────────────────────\n📌 REGRAS DE DECISÃO\n────────────────────────────\n- Unidade SEMPRE vem antes da intenção\n- Cumprimento simples = INFORMACAO (após unidade)\n- Em dúvida → INFORMACAO\n- Nunca assumir agendamento\n- Nunca misturar intenções\n\n────────────────────────────\n📤 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n────────────────────────────\n\nResponda SEMPRE neste formato JSON:\n\n{\n  \"intent\": \"INFORMACAO | AGENDAR | FALAR_ATENDENTE | PEDIR_UNIDADE\",\n  \"confidence\": 0.95,\n  \"unit\": \"Vieiralves | São José | null\",\n  \"response\": \"Mensagem clara, gentil e adequada ao paciente\",\n  \"needsUnit\": true | false\n}\n\n}` }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          18800,
          13264
        ],
        "id": "ef05b1f9-a3ca-402d-b58f-d4f5a9f62723",
        "name": "Intent Classifier Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite-preview",
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          18752,
          13632
        ],
        "id": "e370116e-3bd7-401c-8f50-39a6474b70e3",
        "name": "Gemini Intent Model",
        "credentials": {
          "googlePalmApi": {
            "id": "u6LqYmP5hc5nmBjY",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Extract Data').item.json.sessionId }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          18928,
          13584
        ],
        "id": "d7d19343-38ff-4ac5-a92a-0eef97dfcfec",
        "name": "Postgres Memory Intent",
        "credentials": {
          "postgres": {
            "id": "H9gXAAtqPOhWpc8g",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rawAgent=($json.agentOutput||''); const chatInput=($json.chatInput||''); const conversationId=($json.conversationId||''); const sessionId=($json.sessionId||''); const phone=($json.phone||''); const platform=($json.platform||'whatsapp'); const patientName=($json.patientName||null); const patientFound=($json.patientFound||false); const convenioId=($json.convenioId||null); const needsPhone=($json.needsPhone||false); const patient=($json.patient||{}); const context=($json.context||{}); const messageReceivedAt=$json.messageReceivedAt; const appointmentFlow=($json.appointmentFlow||{patientChecked:false,patientData:null,insuranceValidated:false,step:'initial'});\nfunction extractText(v){if(!v)return'';if(typeof v==='string')return v;if(v.output&&typeof v.output==='string')return v.output;if(v.text)return v.text;if(v.response)return v.response;return JSON.stringify(v);}\nlet rawText=extractText(rawAgent).replace(/^json\\s*\\n?/i,'').trim();\nlet intent='INFORMACAO',confidence=0.5,unit=null,needsUnit=false,parsedResponse=null;\nconst m=rawText.match(/\\{[\\s\\S]*?\\}/);\nif(m){try{const p=JSON.parse(m[0]);intent=p.intent||intent;confidence=p.confidence||confidence;unit=p.unit||null;needsUnit=p.needsUnit??false;parsedResponse=p.response||null;}catch(_){}}\nif(!unit&&chatInput){const lo=chatInput.toLowerCase();if(lo.includes('vieiralves'))unit='Vieiralves';else if(lo.includes('são josé')||lo.includes('sao jose'))unit='São José';}\nif(chatInput){const lo=chatInput.toLowerCase();if(['agendar','marcar','reservar'].some(k=>lo.includes(k))){intent='AGENDAR';confidence=0.9;}else if(['atendente','humano','falar com'].some(k=>lo.includes(k))){intent='FALAR_ATENDENTE';confidence=0.95;}}\nif(!['INFORMACAO','AGENDAR','FALAR_ATENDENTE','PEDIR_UNIDADE'].includes(intent))intent='INFORMACAO';\nif(!unit&&(intent==='AGENDAR'||intent==='INFORMACAO')){needsUnit=true;intent='PEDIR_UNIDADE';}\n\n// Detectar seleção de unidade: mensagem curta que apenas escolhe a unidade\nconst unitSelectionPattern = /^[12]$|^(1️⃣|2️⃣)$|^(vieiralves|s[aã]o\\s*jos[eé]|unidade\\s*[12])$/i;\nconst isUnitSelection = !!(unit && chatInput.trim() && unitSelectionPattern.test(chatInput.trim()) && intent === 'INFORMACAO');\nif (isUnitSelection) { intent = 'CONFIRMAR_UNIDADE'; }\n\nreturn [{json:{conversationId,sessionId,intent,confidence,unit,needsUnit,isUnitSelection,response:parsedResponse||rawText,chatInput,originalMessage:chatInput,phone,platform,needsPhone,patient,patientFound,patientName,convenioId,context,appointmentFlow,messageReceivedAt,success:true}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          19168,
          13152
        ],
        "id": "aa22d26b-dcbf-4ca0-8229-fe6f1bfbc3b1",
        "name": "Parse Intent Response"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "CONFIRMAR_UNIDADE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "confirmar-unidade-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "confirmar_unidade"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "INFORMACAO",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "info-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "information"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "AGENDAR",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "appointment-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "appointment"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "FALAR_ATENDENTE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "transfer-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "transfer"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "unit-condition",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "PEDIR_UNIDADE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pedir_unidade"
              }
            ]
          },
          "options": {}
        },
        "id": "231a0010-a0ac-4be1-abc3-21509486ac77",
        "name": "Intent Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          19248,
          13392
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\n\nlet message = null;\n\nif (data.response) {\n  if (typeof data.response === 'string') {\n    try {\n      const parsed = JSON.parse(data.response);\n      if (parsed.response) message = parsed.response;\n    } catch (e) {\n      message = data.response;\n    }\n  } else {\n    message = data.response;\n  }\n}\n\nif (!message && data.message) message = data.message;\n\nif (message && typeof message === 'string') {\n  message = message.replace(/^json\\s*\\n?/i, '').trim();\n  const bt = String.fromCharCode(96);\n  message = message.replace(new RegExp('^' + bt + bt + bt + 'json\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp('^' + bt + bt + bt + '\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp(bt + bt + bt + '\\\\s*$', 'i'), '').trim();\n}\n\nif (!message || message.trim() === '') {\n  message = 'Qual unidade você prefere?\\n1 - Vieiralves\\n2 - São José\\n\\nDigite o número da unidade desejada. 😊';\n}\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: message,\n    intent: data.intent || 'PEDIR_UNIDADE',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    appointmentFlow: data.appointmentFlow || null,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
        },
        "id": "3eab372c-9ebf-46a8-aa8c-7c328fed7c97",
        "name": "Format Ask Unit Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          19440,
          13696
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Transferindo para atendente. Aguarde! 😊',\n    intent: 'FALAR_ATENDENTE',\n    action: 'TRANSFER_TO_HUMAN',\n    requiresHumanIntervention: true,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
        },
        "id": "a730e79a-1d23-4d3e-bd92-3554eed72ef2",
        "name": "Handler Transfer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          19440,
          13792
        ]
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "={{ `Você é **Zorah**, assistente de informações do IAAM.\n\n────────────────────────────\n🧑 PACIENTE:\n────────────────────────────\n${ $json.patientName ? `Nome: ${$json.patientName}. Cumprimente-o pelo nome na primeira mensagem da conversa.` : 'Paciente não identificado. NÃO invente o nome.' }\n\n## UNIDADE SELECIONADA:\n${$json.unit ? `Unidade: ${$json.unit}` : 'Unidade não selecionada ainda'}\n\n────────────────────────────\n⚠️ REGRAS ANTI-ALUCINAÇÃO (ABSOLUTAS):\n────────────────────────────\n1. NUNCA invente preços, procedimentos ou convênios. Use APENAS os dados retornados pelas tools.\n2. Se um procedimento não estiver na lista da API, diga: \"No momento não oferecemos esse serviço nesta unidade.\"\n3. Se um convênio não estiver na lista, diga: \"Esse convênio não é aceito nesta unidade.\"\n4. Se um preço não estiver disponível na API, diga: \"Para informações de valor, por favor entre em contato.\"\n5. Use SEMPRE os valores exatos retornados pela API. Não arredonde nem estime.\n6. Consulte OBRIGATORIAMENTE a tool da unidade ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios.\n\n## REGRAS:\nPricipal, não respostas sem pergutas, não envie preços sem o paciente ter perguntado!!\n1. **Se não tem unidade:**\n   → PERGUNTAR: \"Qual unidade você prefere? Vieiralves ou São José?\"\n\n2. **Se tem unidade selecionada:**\n   → Use a tool específica da unidade:\n   - Se unidade = \"Vieiralves\" → use tool \"Base de Informações da Unidade Vieiralves\"\n   - Se unidade = \"São José\" → use tool \"Base de Informações da Unidade São José\"\n   → Responda com informações ESPECÍFICAS daquela unidade\n\n3. **Seja amigável e clara 😊**\n4. **Use as informações da clínica da unidade selecionada**\n5. **Mantenha contexto (memória)**\n6. **Convide para agendar quando relevante**\n7. **Traga sempre informações completas, mas compactas**\n8. **Sempre formate as respostas da melhor forma possível**\n9. **Sempre analise qual tipo de informação o paciente quer, entregue somente o necessário**\n10. Não forneça respostas extensas.\n11. Atente-se sempre somente aos procedimentos que as clínicas possuem.\n\n## EXEMPLOS:\n- Sem unidade: \"Olá! 😊 Para melhor atendê-lo, qual unidade você prefere? Vieiralves ou São José?\"\n- Com unidade: \"Ótimo! Na unidade ${$json.unit}, temos... [informações específicas]\"` }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          19664,
          12816
        ],
        "id": "e617a874-e0fd-41d3-92fe-07cb93628459",
        "name": "Information Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite-preview",
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          19552,
          13184
        ],
        "id": "0f7cc05e-6e5a-4a6f-919f-54da61b389ae",
        "name": "Gemini Information Model",
        "credentials": {
          "googlePalmApi": {
            "id": "u6LqYmP5hc5nmBjY",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.sessionId }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          19696,
          13184
        ],
        "id": "21938810-5085-4567-9fda-a70040ce408c",
        "name": "Postgres Memory Information",
        "credentials": {
          "postgres": {
            "id": "H9gXAAtqPOhWpc8g",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade Vieiralves. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
          "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/vieiralves",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.3,
        "position": [
          19872,
          13168
        ],
        "id": "71228a2e-651e-4692-9f59-e1a282cd7c62",
        "name": "HTTP Request Vieiralves"
      },
      {
        "parameters": {
          "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade São José. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
          "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/sao-jose",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.3,
        "position": [
          20048,
          13168
        ],
        "id": "ae89258d-598f-4436-98f1-972c8ef40675",
        "name": "HTTP Request São José"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json;\n\nfunction extractText(res) {\n  if (!res) return null;\n  if (typeof res === 'string') return res;\n  if (typeof res.agentOutput === 'string') return res.agentOutput;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output && typeof res.output.text === 'string') return res.output.text;\n  if (typeof res.text === 'string') return res.text;\n  return null;\n}\n\nconst conversationId = raw.conversationId || '';\nif (!conversationId) throw new Error('conversationId ausente no Parse Information');\n\nconst responseText = extractText(raw) || 'Desculpe, não consegui processar sua pergunta.';\n\nreturn [{\n  json: {\n    conversationId,\n    message: responseText,\n    intent: 'INFORMACAO',\n    action: 'RESPOND',\n    messageReceivedAt: raw.messageReceivedAt,\n    phone: raw.phone || '',\n    platform: raw.platform || 'whatsapp',\n    sessionId: raw.sessionId || '',\n    success: true\n  }\n}];\n"
        },
        "id": "ec48645c-3e77-401d-b0b1-e7cd7649cc41",
        "name": "Parse Information Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          20400,
          12896
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\nif (!data.message) throw new Error('message obrigatório');\n\nconst now = Date.now();\nconst messageReceivedAt = data.messageReceivedAt || now;\nconst responseTimeMs = now - messageReceivedAt;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: data.message,\n    intent: data.intent || 'INFORMACAO',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini-v2.2.4-simple',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    requiresQueueTransfer: data.requiresQueueTransfer || false,\n    queueName: data.queueName || null,\n    appointmentFlow: data.appointmentFlow || null,\n    metrics: {\n      intent: data.intent || 'INFORMACAO',\n      responseTimeMs: responseTimeMs,\n      timestamp: new Date().toISOString(),\n      requiresTransfer: data.requiresQueueTransfer || false\n    },\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
        },
        "id": "3facf87f-c290-4205-97a2-7e29af6ab5ef",
        "name": "Format Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          21440,
          13392
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://zorahapp2-production.up.railway.app/webhook/n8n-response",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ {\n  conversationId: $json.conversationId,\n  message: $json.message,\n  intent: $json.intent,\n  action: $json.action,\n  aiProvider: $json.aiProvider,\n  appointmentFlow: $json.appointmentFlow,\n  requiresQueueTransfer: $json.requiresQueueTransfer,\n  queueName: $json.queueName,\n  metrics: $json.metrics\n} }}",
          "options": {
            "timeout": 8000
          }
        },
        "id": "f7db9d45-7478-43af-baa4-cedcc09c3b57",
        "name": "Send to System",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          21648,
          13392
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "e818da5e-eaa1-4345-a3f3-5fbbce0c65d2",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          21840,
          13392
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Entendi que você deseja agendar um procedimento. Vou transferir você para nossa equipe de atendimento que irá auxiliá-lo com o agendamento. Aguarde um momento! 😊',\n    intent: 'AGENDAR',\n    action: 'TRANSFER_TO_QUEUE',\n    requiresQueueTransfer: true,\n    queueName: 'Principal',\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
        },
        "id": "2f564920-9c34-4eaa-8a3d-a43fe7b06989",
        "name": "Handle Appointment Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          19632,
          13424
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\n// Apenas passar os dados adiante (métricas já estão em data.metrics)\nreturn [{ json: data }];\n"
        },
        "id": "ad1cdfce-7d1d-4c74-a040-5e850dec4c1c",
        "name": "Prepare Analytics",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          21472,
          13616
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8nwbh.ghotmidia.com/webhook/EVOIAAM",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "mensagem_paciente",
                "value": "={{ $json }}"
              }
            ]
          },
          "options": {
            "timeout": 8000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          18112,
          13600
        ],
        "id": "29c01e3f-9a5e-4a06-a609-3d01756b3ef2",
        "name": "HTTP Request",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// $json = Extract Data output — sem cross-node reference\nconst ex = $json;\nconst phone = ex.phone || '';\nlet patientFound = false, patientName = null, convenioId = null,\n    email = null, clinicaAgilId = null;\n\nif (phone) {\n  try {\n    const fd = new FormData();\n    fd.append('numero_paciente', phone);\n    const resp = await fetch(\n      'https://app2.clinicaagil.com.br/api/integration/patient_data',\n      {\n        method: 'POST',\n        headers: {\n          'X-API-KEY': 'a5dcc76d202fdc2eb86646c9e57754b19f34fff30332b865b19cca44232b460b-c1a-5468970561',\n          'X-API-METHOD': 'Ch4tB0tW4tsS4v3QRc0d3'\n        },\n        body: fd,\n        signal: AbortSignal.timeout(5000)\n      }\n    );\n    if (resp.ok) {\n      const data = await resp.json();\n      if (data.status === 'success' && data.data) {\n        patientFound  = true;\n        patientName   = data.data.paciente_nome || null;\n        convenioId    = data.data.convenio_id   || null;\n        email         = data.data.email          || null;\n        clinicaAgilId = data.data.paciente_id    || null;\n      }\n    }\n  } catch(_) { /* timeout ou erro — continua sem dados do paciente */ }\n}\n\nreturn [{ json: { ...ex, patientFound, patientName, convenioId, email, clinicaAgilId } }];"
        },
        "id": "a2f5475c-b22f-4ab0-879a-c379b5ee59c1",
        "name": "Lookup & Parse Patient",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          18336,
          13392
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "zorahbot",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "730ca094-e75e-4cf2-b2b5-0cfefab4f6ee",
        "name": "Webhook Start",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          17920,
          13392
        ],
        "webhookId": "d152cfe1-4e45-4c68-af81-e69e6d4fa2f6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4ee087cf-b94f-42fc-b0a1-e84fbc6d74ce",
                "name": "chatInput",
                "value": "={{ $('Lookup & Parse Patient').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "9948c80c-6606-4867-a083-7ce2cb68d48d",
                "name": "phone",
                "value": "={{ $('Lookup & Parse Patient').item.json.phone }}",
                "type": "string"
              },
              {
                "id": "10ab8805-4c3f-4e73-9606-9c130942e529",
                "name": "conversationId",
                "value": "={{ $('Lookup & Parse Patient').item.json.conversationId }}",
                "type": "string"
              },
              {
                "id": "8513fd02-daa9-469d-b691-017b6eafb994",
                "name": "sessionId",
                "value": "={{ $('Lookup & Parse Patient').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "0988b523-8032-4852-9f17-804e8ec9f374",
                "name": "platform",
                "value": "={{ $('Lookup & Parse Patient').item.json.platform }}",
                "type": "string"
              },
              {
                "id": "3598c207-3c05-40b8-aa06-6d234b5b74a3",
                "name": "patientName",
                "value": "={{ $('Lookup & Parse Patient').item.json.patientName }}",
                "type": "string"
              },
              {
                "id": "a67eecca-7ea4-4b9a-8ae5-b7734886c68e",
                "name": "patientFound",
                "value": "={{ $('Lookup & Parse Patient').item.json.patientFound }}",
                "type": "boolean"
              },
              {
                "id": "306516ad-fb50-4ac9-b5fa-2f5ee4c95596",
                "name": "convenioId",
                "value": "={{ $('Lookup & Parse Patient').item.json.convenioId }}",
                "type": "string"
              },
              {
                "id": "fcc546ef-41f2-45dd-9931-4057c0bbca7c",
                "name": "needsPhone",
                "value": "={{ $('Lookup & Parse Patient').item.json.needsPhone }}",
                "type": "boolean"
              },
              {
                "id": "8d743953-2532-4105-8d83-2667a497ee20",
                "name": "messageReceivedAt",
                "value": "={{ $('Lookup & Parse Patient').item.json.messageReceivedAt }}",
                "type": "string"
              },
              {
                "id": "0ed3c662-49bc-4e67-9431-38a4ca30a7d8",
                "name": "patient",
                "value": "={{ $('Lookup & Parse Patient').item.json.patient }}",
                "type": "object"
              },
              {
                "id": "ba4d1f52-b656-42f3-8604-78b3f79db7c1",
                "name": "context",
                "value": "={{ $('Lookup & Parse Patient').item.json.context }}",
                "type": "object"
              },
              {
                "id": "a3b5fd1c-eb55-444b-a370-3651f28f6d6f",
                "name": "appointmentFlow",
                "value": "={{ $('Lookup & Parse Patient').item.json.appointmentFlow }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "e5be6318-1760-4a97-a9cb-2bce94e1de5e",
        "name": "Set: Intent Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          18720,
          13056
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e808c3f0-e9b9-42f5-a090-9bdc24eace59",
                "name": "agentOutput",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "5efb8db4-e0d8-479e-a68e-951b2c76db07",
                "name": "chatInput",
                "value": "={{ $('Set: Intent Context').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "db76b5ef-845e-4e8a-a1c7-461bef3912b2",
                "name": "phone",
                "value": "={{ $('Set: Intent Context').item.json.phone }}",
                "type": "string"
              },
              {
                "id": "4825271a-4c9d-4b3c-bb27-f7e1058af4be",
                "name": "conversationId",
                "value": "={{ $('Set: Intent Context').item.json.conversationId }}",
                "type": "string"
              },
              {
                "id": "97cfef82-8035-4655-ab56-70a6e5feafd0",
                "name": "sessionId",
                "value": "={{ $('Set: Intent Context').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "cdd5ed19-6878-4aa7-8ae7-a055455c6ccd",
                "name": "platform",
                "value": "={{ $('Set: Intent Context').item.json.platform }}",
                "type": "string"
              },
              {
                "id": "d615b195-20c6-4908-b57f-db247bd5a155",
                "name": "patientName",
                "value": "={{ $('Set: Intent Context').item.json.patientName }}",
                "type": "string"
              },
              {
                "id": "e4a3147d-8864-4074-b5ab-b6a98b639aed",
                "name": "patientFound",
                "value": "={{ $('Set: Intent Context').item.json.patientFound }}",
                "type": "boolean"
              },
              {
                "id": "baa27165-89b7-4055-a968-580acda2a236",
                "name": "convenioId",
                "value": "={{ $('Set: Intent Context').item.json.convenioId }}",
                "type": "string"
              },
              {
                "id": "9f46a900-01ee-4157-9dc4-a5c219a5ba07",
                "name": "needsPhone",
                "value": "={{ $('Set: Intent Context').item.json.needsPhone }}",
                "type": "boolean"
              },
              {
                "id": "6eb616eb-8170-498b-a4e9-3e61d3e6e488",
                "name": "messageReceivedAt",
                "value": "={{ $('Set: Intent Context').item.json.messageReceivedAt }}",
                "type": "string"
              },
              {
                "id": "05a73967-e871-44a5-9c2b-519f5f8f59aa",
                "name": "patient",
                "value": "={{ $('Set: Intent Context').item.json.patient }}",
                "type": "object"
              },
              {
                "id": "816b634c-541c-442e-9654-dc9454a2162f",
                "name": "context",
                "value": "={{ $('Set: Intent Context').item.json.context }}",
                "type": "object"
              },
              {
                "id": "1e6360e2-59a1-4030-a294-a466784af3ef",
                "name": "appointmentFlow",
                "value": "={{ $('Set: Intent Context').item.json.appointmentFlow }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "4809121a-9a51-48a8-83ba-6cf8e5c3d191",
        "name": "Set: Pre-Parse Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          18960,
          13376
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ac39e51d-10fb-4647-81a7-186b031af0f4",
                "name": "agentOutput",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "e34f9efa-52a1-4f98-8337-62079ed51378",
                "name": "conversationId",
                "value": "={{ $('Set: Intent Context').item.json.conversationId }}",
                "type": "string"
              },
              {
                "id": "22136e2f-4808-4511-9f1e-395fd2288825",
                "name": "sessionId",
                "value": "={{ $('Set: Intent Context').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "8e574157-8926-4e91-8ad3-9f32b3166079",
                "name": "phone",
                "value": "={{ $('Set: Intent Context').item.json.phone }}",
                "type": "string"
              },
              {
                "id": "722c6b75-2226-46a8-9af4-140598072c74",
                "name": "platform",
                "value": "={{ $('Set: Intent Context').item.json.platform }}",
                "type": "string"
              },
              {
                "id": "90db7da9-cda0-44ac-92b3-04987ec4a2ae",
                "name": "messageReceivedAt",
                "value": "={{ $('Set: Intent Context').item.json.messageReceivedAt }}",
                "type": "string"
              },
              {
                "id": "269ffc34-dbba-42ac-8cbc-384edd129311",
                "name": "chatInput",
                "value": "={{ $('Set: Intent Context').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "25461955-c60c-4e47-9bfb-35a0622ddc3a",
                "name": "patientName",
                "value": "={{ $('Set: Intent Context').item.json.patientName }}",
                "type": "string"
              },
              {
                "id": "a0520d74-79b5-45a5-9e17-05dac408a4a9",
                "name": "patientFound",
                "value": "={{ $('Set: Intent Context').item.json.patientFound }}",
                "type": "boolean"
              },
              {
                "id": "4a660f5d-4c6b-478d-af35-e65f307554f6",
                "name": "convenioId",
                "value": "={{ $('Set: Intent Context').item.json.convenioId }}",
                "type": "string"
              },
              {
                "id": "0018d195-f35a-4ef1-b364-7b8c54c1066f",
                "name": "patient",
                "value": "={{ $('Set: Intent Context').item.json.patient }}",
                "type": "object"
              },
              {
                "id": "4de66cac-b95a-4614-80b4-097c1d5f95fa",
                "name": "appointmentFlow",
                "value": "={{ $('Set: Intent Context').item.json.appointmentFlow }}",
                "type": "object"
              },
              {
                "id": "d06c4068-ee81-4930-a04b-ce1b0e872467",
                "name": "unit",
                "value": "={{ $('Parse Intent Response').item.json.unit }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "83860500-f1d8-4014-9378-c19bcd719dd4",
        "name": "Set: Info Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          20032,
          12896
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json.body || $json;\nconst conversationId = data.conversationId || '';\n\nif (!conversationId) throw new Error('conversationId ausente');\n\nfunction djb2hex(str) {\n  let h = 5381;\n  for (let i = 0; i < str.length; i++) {\n    h = (Math.imul(h, 33) + str.charCodeAt(i)) | 0;\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nconst sessionId = djb2hex(conversationId);\nconst platform   = data.platform  || 'whatsapp';\nconst needsPhone = platform === 'instagram';\n\nreturn [{\n  json: {\n    chatInput:       data.message  || '',\n    phone:           data.phone    || '',\n    conversationId,\n    sessionId,\n    platform,\n    needsPhone,\n    patient:         data.patient  || {},\n    context:         data.context  || {},\n    appointmentFlow: data.context?.appointmentFlow || {\n      patientChecked: false,\n      patientData: null,\n      insuranceValidated: false,\n      step: 'initial'\n    },\n    messageReceivedAt: Date.now(),\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "39021b68-9711-48c3-852a-6dbc91b23b85",
        "name": "Extract Data1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13360,
          15296
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://zorahapp2-production.up.railway.app/api/patients/upsert-from-bot",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-bot-key",
                "value": "=8c84cf63c3b91fc2a3c74902280e68b4422e42486d47f0d8f3c19bae8d05b6ea"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  name: $json.patientName || 'Novo Paciente',\n  email: $json.email || null,\n  insuranceCompany: $json.convenioId ? String($json.convenioId) : null,\n  source: 'bot'\n}) }}",
          "options": {
            "timeout": 8000
          }
        },
        "id": "76300717-2980-4586-b7cc-e38de7546d76",
        "name": "Upsert Patient ZoraH1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          13664,
          15072
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "={{ `Você é **Zorah**, a IA classificadora de intenções do IAAM.\nVocê opera exclusivamente em conversas de **WhatsApp e Instagram**.\n\n────────────────────────────\n🧑 PACIENTE IDENTIFICADO:\n────────────────────────────\n${ $json.patientName ? `Nome do paciente: ${$json.patientName}. Use o nome ao cumprimentar.` : 'Paciente ainda não identificado. NÃO invente o nome.' }\n\n────────────────────────────\n⚠️ REGRAS GERAIS OBRIGATÓRIAS\n────────────────────────────\n- Sempre identifique-se como assistente virtual Zorah do IAAM\n- Sempre responda em português (Brasil)\n- Sempre utilize linguagem clara, educada e humana\n- Sempre formate respostas para chat\n- Sempre retorne um JSON válido no formato definido ao final\n- NÃO invente dados\n- NÃO pule etapas do fluxo\n\n────────────────────────────\n🎯 MISSÃO PRINCIPAL\n────────────────────────────\n1. Verificar se a **UNIDADE** foi informada\n2. Se não foi informada → perguntar a unidade\n3. Somente após isso → classificar a intenção\n\n────────────────────────────\n🏥 UNIDADES DISPONÍVEIS\n────────────────────────────\n1 - Unidade Vieiralves  \n2 - Unidade São José  \n\n────────────────────────────\n🔁 FLUXO OBRIGATÓRIO\n────────────────────────────\n\n### 1️⃣ VERIFICAR UNIDADE\nSe a mensagem do paciente **NÃO mencionar explicitamente**:\n- Vieiralves\n- São José\n\nENTÃO:\n- NÃO classifique outra intenção\n- Defina intent = PEDIR_UNIDADE\n- Defina needsUnit = true\n- Responda perguntando a unidade da forma abaixo:\n\n\"Para qual unidade você deseja atendimento? 😊  \nPor favor, escolha uma opção:  \n1️⃣ Vieiralves  \n2️⃣ São José\"\n\n---\n\nSe a unidade **JÁ estiver mencionada**, prossiga para a classificação de intenção.\n\n────────────────────────────\n### 2️⃣ CLASSIFICAÇÃO DE INTENÇÃO\n────────────────────────────\nClassifique a mensagem em **apenas UMA** das intenções abaixo:\n\n🔹 **INFORMACAO**\n- Perguntas gerais\n- Procedimentos\n- Valores\n- Convênios\n- Localização\n- Horários\n- Cumprimentos (oi, olá, bom dia)\n- Dúvidas ou curiosidade\n\n🔹 **AGENDAR**\n⚠️ SOMENTE se houver palavras EXPLÍCITAS:\n- \"agendar\"\n- \"marcar\"\n- \"reservar\"\n\n➡️ Se não houver essas palavras, NÃO classificar como AGENDAR  \n➡️ Confiança mínima: 0.90\n\n🔹 **FALAR_ATENDENTE**\n- Pedido para falar com humano\n- Solicitação de atendimento pessoal\n- Reclamação do robô\n\n🔹 **PEDIR_UNIDADE**\n- Sempre que for necessário perguntar a unidade\n\n────────────────────────────\n📌 REGRAS DE DECISÃO\n────────────────────────────\n- Unidade SEMPRE vem antes da intenção\n- Cumprimento simples = INFORMACAO (após unidade)\n- Em dúvida → INFORMACAO\n- Nunca assumir agendamento\n- Nunca misturar intenções\n\n────────────────────────────\n📤 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n────────────────────────────\n\nResponda SEMPRE neste formato JSON:\n\n{\n  \"intent\": \"INFORMACAO | AGENDAR | FALAR_ATENDENTE | PEDIR_UNIDADE\",\n  \"confidence\": 0.95,\n  \"unit\": \"Vieiralves | São José | null\",\n  \"response\": \"Mensagem clara, gentil e adequada ao paciente\",\n  \"needsUnit\": true | false\n}\n\n}` }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          13984,
          15168
        ],
        "id": "dd09968a-69a1-4902-8044-648079c7eab5",
        "name": "Intent Classifier Agent1"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite-preview",
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          13936,
          15536
        ],
        "id": "4441e085-f582-42c0-85c3-4b29f0f23e70",
        "name": "Gemini Intent Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "u6LqYmP5hc5nmBjY",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Extract Data1').item.json.sessionId }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          14112,
          15488
        ],
        "id": "8a5a8a58-789a-4e67-b4fa-2066a8ba261a",
        "name": "Postgres Memory Intent1",
        "credentials": {
          "postgres": {
            "id": "H9gXAAtqPOhWpc8g",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json;\n\nfunction extractText(res) {\n  if (!res) return '';\n  if (typeof res === 'string') return res;\n  if (typeof res.agentOutput === 'string') return res.agentOutput;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output?.text) return res.output.text;\n  if (res.text) return res.text;\n  if (res.response) return res.response;\n  if (res.message) return res.message;\n  return '';\n}\n\nlet rawText = extractText(raw).replace(/^json\\s*\\n?/i, '').trim();\n\nconst conversationId = raw.conversationId || '';\nconst chatInput      = raw.chatInput      || '';\nconst sessionId      = raw.sessionId      || '';\n\nlet intent = 'INFORMACAO', confidence = 0.5, unit = null,\n    needsUnit = false, parsedResponse = null, reasoning = '';\n\nconst m = rawText.match(/\\{[\\s\\S]*?\\}/);\nif (m) {\n  try {\n    const p = JSON.parse(m[0]);\n    intent         = p.intent      || intent;\n    confidence     = p.confidence  || confidence;\n    reasoning      = p.reasoning   || '';\n    unit           = p.unit        || null;\n    needsUnit      = p.needsUnit   ?? false;\n    parsedResponse = p.response    || null;\n  } catch(_) {}\n}\n\nif (raw.intent) {\n  intent     = raw.intent;\n  confidence = raw.confidence || confidence;\n  unit       = raw.unit || unit;\n}\n\nif (!unit && chatInput) {\n  const lo = chatInput.toLowerCase();\n  if (lo.includes('vieiralves'))                               unit = 'Vieiralves';\n  else if (lo.includes('são josé') || lo.includes('sao jose')) unit = 'São José';\n}\n\nif (chatInput) {\n  const lo = chatInput.toLowerCase();\n  if (['agendar','marcar','reservar'].some(k => lo.includes(k)))         { intent = 'AGENDAR';         confidence = 0.9;  }\n  else if (['atendente','humano','falar com'].some(k => lo.includes(k))) { intent = 'FALAR_ATENDENTE'; confidence = 0.95; }\n}\n\nconst validIntents = ['INFORMACAO','AGENDAR','FALAR_ATENDENTE','PEDIR_UNIDADE'];\nif (!validIntents.includes(intent)) intent = 'INFORMACAO';\n\nif (!unit && (intent === 'AGENDAR' || intent === 'INFORMACAO')) {\n  needsUnit = true;\n  intent    = 'PEDIR_UNIDADE';\n}\n\nreturn [{\n  json: {\n    conversationId,\n    sessionId,\n    intent,\n    confidence,\n    reasoning,\n    unit,\n    needsUnit,\n    response:        parsedResponse || rawText,\n    chatInput,\n    originalMessage: chatInput,\n    phone:           raw.phone           || '',\n    platform:        raw.platform        || 'whatsapp',\n    needsPhone:      raw.needsPhone      || false,\n    patient:         raw.patient         || {},\n    patientFound:    raw.patientFound    || false,\n    patientName:     raw.patientName     || null,\n    convenioId:      raw.convenioId      || null,\n    context:         raw.context         || {},\n    appointmentFlow: raw.appointmentFlow || {\n      patientChecked: false, patientData: null,\n      insuranceValidated: false, step: 'initial'\n    },\n    messageReceivedAt: raw.messageReceivedAt,\n    success: true\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14352,
          15056
        ],
        "id": "5d60c14c-107c-4715-83d7-58d78e45c4fb",
        "name": "Parse Intent Response1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "INFORMACAO",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "info-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "information"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "AGENDAR",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "appointment-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "appointment"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "FALAR_ATENDENTE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      },
                      "id": "transfer-condition"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "transfer"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "unit-condition",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "PEDIR_UNIDADE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pedir_unidade"
              }
            ]
          },
          "options": {}
        },
        "id": "ad22ebf5-a5bc-4b0f-b828-93ac7999d167",
        "name": "Intent Router1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          14432,
          15296
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\n\nlet message = null;\n\nif (data.response) {\n  if (typeof data.response === 'string') {\n    try {\n      const parsed = JSON.parse(data.response);\n      if (parsed.response) message = parsed.response;\n    } catch (e) {\n      message = data.response;\n    }\n  } else {\n    message = data.response;\n  }\n}\n\nif (!message && data.message) message = data.message;\n\nif (message && typeof message === 'string') {\n  message = message.replace(/^json\\s*\\n?/i, '').trim();\n  const bt = String.fromCharCode(96);\n  message = message.replace(new RegExp('^' + bt + bt + bt + 'json\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp('^' + bt + bt + bt + '\\\\s*\\\\n?', 'i'), '').trim();\n  message = message.replace(new RegExp(bt + bt + bt + '\\\\s*$', 'i'), '').trim();\n}\n\nif (!message || message.trim() === '') {\n  message = 'Qual unidade você prefere?\\n1 - Vieiralves\\n2 - São José\\n\\nDigite o número da unidade desejada. 😊';\n}\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: message,\n    intent: data.intent || 'PEDIR_UNIDADE',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    appointmentFlow: data.appointmentFlow || null,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
        },
        "id": "546bb115-ef87-424e-9701-8bf0a1708364",
        "name": "Format Ask Unit Response1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14624,
          15600
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Transferindo para atendente. Aguarde! 😊',\n    intent: 'FALAR_ATENDENTE',\n    action: 'TRANSFER_TO_HUMAN',\n    requiresHumanIntervention: true,\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
        },
        "id": "176e95ef-cd10-4355-8993-f4178274da65",
        "name": "Handler Transfer1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14624,
          15696
        ]
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "={{ `Você é **Zorah**, assistente de informações do IAAM.\n\n────────────────────────────\n🧑 PACIENTE:\n────────────────────────────\n${ $json.patientName ? `Nome: ${$json.patientName}. Cumprimente-o pelo nome na primeira mensagem da conversa.` : 'Paciente não identificado. NÃO invente o nome.' }\n\n## UNIDADE SELECIONADA:\n${$json.unit ? `Unidade: ${$json.unit}` : 'Unidade não selecionada ainda'}\n\n────────────────────────────\n⚠️ REGRAS ANTI-ALUCINAÇÃO (ABSOLUTAS):\n────────────────────────────\n1. NUNCA invente preços, procedimentos ou convênios. Use APENAS os dados retornados pelas tools.\n2. Se um procedimento não estiver na lista da API, diga: \"No momento não oferecemos esse serviço nesta unidade.\"\n3. Se um convênio não estiver na lista, diga: \"Esse convênio não é aceito nesta unidade.\"\n4. Se um preço não estiver disponível na API, diga: \"Para informações de valor, por favor entre em contato.\"\n5. Use SEMPRE os valores exatos retornados pela API. Não arredonde nem estime.\n6. Consulte OBRIGATORIAMENTE a tool da unidade ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios.\n\n## REGRAS:\n1. **Se não tem unidade:**\n   → PERGUNTAR: \"Qual unidade você prefere? Vieiralves ou São José?\"\n\n2. **Se tem unidade selecionada:**\n   → Use a tool específica da unidade:\n   - Se unidade = \"Vieiralves\" → use tool \"Base de Informações da Unidade Vieiralves\"\n   - Se unidade = \"São José\" → use tool \"Base de Informações da Unidade São José\"\n   → Responda com informações ESPECÍFICAS daquela unidade\n\n3. **Seja amigável e clara 😊**\n4. **Use as informações da clínica da unidade selecionada**\n5. **Mantenha contexto (memória)**\n6. **Convide para agendar quando relevante**\n7. **Traga sempre informações completas, mas compactas**\n8. **Sempre formate as respostas da melhor forma possível**\n9. **Sempre analise qual tipo de informação o paciente quer, entregue somente o necessário**\n10. Não forneça respostas extensas.\n11. Atente-se sempre somente aos procedimentos que as clínicas possuem.\n\n## EXEMPLOS:\n- Sem unidade: \"Olá! 😊 Para melhor atendê-lo, qual unidade você prefere? Vieiralves ou São José?\"\n- Com unidade: \"Ótimo! Na unidade ${$json.unit}, temos... [informações específicas]\"` }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          14848,
          14720
        ],
        "id": "44325162-4c3b-4006-acae-f770781731ec",
        "name": "Information Agent1"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite-preview",
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          14736,
          15088
        ],
        "id": "fc14d04b-60f1-4e53-8d40-a90a9eb97e0d",
        "name": "Gemini Information Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "u6LqYmP5hc5nmBjY",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.sessionId }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          14880,
          15088
        ],
        "id": "c53aed84-7e10-478a-a131-8358f0decc90",
        "name": "Postgres Memory Information1",
        "credentials": {
          "postgres": {
            "id": "H9gXAAtqPOhWpc8g",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade Vieiralves. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
          "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/vieiralves",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.3,
        "position": [
          15056,
          15072
        ],
        "id": "4fb5e183-080b-47dc-b314-f5e12357cb69",
        "name": "HTTP Request Vieiralves1"
      },
      {
        "parameters": {
          "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade São José. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
          "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/sao-jose",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.3,
        "position": [
          15232,
          15072
        ],
        "id": "0a581611-33f8-4c70-9f51-68488413b002",
        "name": "HTTP Request São José1"
      },
      {
        "parameters": {
          "jsCode": "const raw = $json;\n\nfunction extractText(res) {\n  if (!res) return null;\n  if (typeof res === 'string') return res;\n  if (typeof res.agentOutput === 'string') return res.agentOutput;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output && typeof res.output.text === 'string') return res.output.text;\n  if (typeof res.text === 'string') return res.text;\n  return null;\n}\n\nconst conversationId = raw.conversationId || '';\nif (!conversationId) throw new Error('conversationId ausente no Parse Information');\n\nconst responseText = extractText(raw) || 'Desculpe, não consegui processar sua pergunta.';\n\nreturn [{\n  json: {\n    conversationId,\n    message: responseText,\n    intent: 'INFORMACAO',\n    action: 'RESPOND',\n    messageReceivedAt: raw.messageReceivedAt,\n    phone: raw.phone || '',\n    platform: raw.platform || 'whatsapp',\n    sessionId: raw.sessionId || '',\n    success: true\n  }\n}];\n"
        },
        "id": "f653872a-fc03-4510-8066-1b1389d99ec6",
        "name": "Parse Information Response1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          15584,
          14800
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\nif (!data.message) throw new Error('message obrigatório');\n\nconst now = Date.now();\nconst messageReceivedAt = data.messageReceivedAt || now;\nconst responseTimeMs = now - messageReceivedAt;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: data.message,\n    intent: data.intent || 'INFORMACAO',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini-v2.2.4-simple',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    requiresQueueTransfer: data.requiresQueueTransfer || false,\n    queueName: data.queueName || null,\n    appointmentFlow: data.appointmentFlow || null,\n    metrics: {\n      intent: data.intent || 'INFORMACAO',\n      responseTimeMs: responseTimeMs,\n      timestamp: new Date().toISOString(),\n      requiresTransfer: data.requiresQueueTransfer || false\n    },\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
        },
        "id": "07e2cdb6-ea89-4fd5-9166-a9d3af5e8ed5",
        "name": "Format Final Response1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16624,
          15296
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://zorahapp2-production.up.railway.app/webhook/n8n-response",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ {\n  conversationId: $json.conversationId,\n  message: $json.message,\n  intent: $json.intent,\n  action: $json.action,\n  aiProvider: $json.aiProvider,\n  appointmentFlow: $json.appointmentFlow,\n  requiresQueueTransfer: $json.requiresQueueTransfer,\n  queueName: $json.queueName,\n  metrics: $json.metrics\n} }}",
          "options": {
            "timeout": 8000
          }
        },
        "id": "d1d1e3c1-0c29-43c8-b134-24d53aa49103",
        "name": "Send to System1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          16832,
          15296
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "672ccd17-c0c4-4567-85b2-9c25be86a6f4",
        "name": "Webhook Response1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          17024,
          15296
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Entendi que você deseja agendar um procedimento. Vou transferir você para nossa equipe de atendimento que irá auxiliá-lo com o agendamento. Aguarde um momento! 😊',\n    intent: 'AGENDAR',\n    action: 'TRANSFER_TO_QUEUE',\n    requiresQueueTransfer: true,\n    queueName: 'Principal',\n    messageReceivedAt: data.messageReceivedAt,\n    phone: data.phone || '',\n    platform: data.platform || 'whatsapp',\n    success: true\n  }\n}];\n"
        },
        "id": "a7334387-0958-4acc-9c12-5980a2d72450",
        "name": "Handle Appointment Request1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14816,
          15328
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\n\n// Apenas passar os dados adiante (métricas já estão em data.metrics)\nreturn [{ json: data }];\n"
        },
        "id": "8ba64fb5-1bcf-4ba1-b4bc-4694bc6c693c",
        "name": "Prepare Analytics1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16656,
          15520
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8nwbh.ghotmidia.com/webhook/EVOIAAM",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "mensagem_paciente",
                "value": "={{ $json }}"
              }
            ]
          },
          "options": {
            "timeout": 8000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          13296,
          15504
        ],
        "id": "995db85c-94a4-412b-a9ee-d723ef8117bd",
        "name": "HTTP Request1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// $json = Extract Data output — sem cross-node reference\nconst ex = $json;\nconst phone = ex.phone || '';\nlet patientFound = false, patientName = null, convenioId = null,\n    email = null, clinicaAgilId = null;\n\nif (phone) {\n  try {\n    const fd = new FormData();\n    fd.append('numero_paciente', phone);\n    const resp = await fetch(\n      'https://app2.clinicaagil.com.br/api/integration/patient_data',\n      {\n        method: 'POST',\n        headers: {\n          'X-API-KEY': 'a5dcc76d202fdc2eb86646c9e57754b19f34fff30332b865b19cca44232b460b-c1a-5468970561',\n          'X-API-METHOD': 'Ch4tB0tW4tsS4v3QRc0d3'\n        },\n        body: fd,\n        signal: AbortSignal.timeout(5000)\n      }\n    );\n    if (resp.ok) {\n      const data = await resp.json();\n      if (data.status === 'success' && data.data) {\n        patientFound  = true;\n        patientName   = data.data.paciente_nome || null;\n        convenioId    = data.data.convenio_id   || null;\n        email         = data.data.email          || null;\n        clinicaAgilId = data.data.paciente_id    || null;\n      }\n    }\n  } catch(_) { /* timeout ou erro — continua sem dados do paciente */ }\n}\n\nreturn [{ json: { ...ex, patientFound, patientName, convenioId, email, clinicaAgilId } }];"
        },
        "id": "cac2d63f-5e3d-48fd-896f-4a805372121c",
        "name": "Lookup & Parse Patient1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13520,
          15296
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4ee087cf-b94f-42fc-b0a1-e84fbc6d74ce",
                "name": "chatInput",
                "value": "={{ $('Lookup & Parse Patient1').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "9948c80c-6606-4867-a083-7ce2cb68d48d",
                "name": "phone",
                "value": "={{ $('Lookup & Parse Patient1').item.json.phone }}",
                "type": "string"
              },
              {
                "id": "10ab8805-4c3f-4e73-9606-9c130942e529",
                "name": "conversationId",
                "value": "={{ $('Lookup & Parse Patient1').item.json.conversationId }}",
                "type": "string"
              },
              {
                "id": "8513fd02-daa9-469d-b691-017b6eafb994",
                "name": "sessionId",
                "value": "={{ $('Lookup & Parse Patient1').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "0988b523-8032-4852-9f17-804e8ec9f374",
                "name": "platform",
                "value": "={{ $('Lookup & Parse Patient1').item.json.platform }}",
                "type": "string"
              },
              {
                "id": "3598c207-3c05-40b8-aa06-6d234b5b74a3",
                "name": "patientName",
                "value": "={{ $('Lookup & Parse Patient1').item.json.patientName }}",
                "type": "string"
              },
              {
                "id": "a67eecca-7ea4-4b9a-8ae5-b7734886c68e",
                "name": "patientFound",
                "value": "={{ $('Lookup & Parse Patient1').item.json.patientFound }}",
                "type": "boolean"
              },
              {
                "id": "306516ad-fb50-4ac9-b5fa-2f5ee4c95596",
                "name": "convenioId",
                "value": "={{ $('Lookup & Parse Patient1').item.json.convenioId }}",
                "type": "string"
              },
              {
                "id": "fcc546ef-41f2-45dd-9931-4057c0bbca7c",
                "name": "needsPhone",
                "value": "={{ $('Lookup & Parse Patient1').item.json.needsPhone }}",
                "type": "boolean"
              },
              {
                "id": "8d743953-2532-4105-8d83-2667a497ee20",
                "name": "messageReceivedAt",
                "value": "={{ $('Lookup & Parse Patient1').item.json.messageReceivedAt }}",
                "type": "string"
              },
              {
                "id": "0ed3c662-49bc-4e67-9431-38a4ca30a7d8",
                "name": "patient",
                "value": "={{ $('Lookup & Parse Patient1').item.json.patient }}",
                "type": "object"
              },
              {
                "id": "ba4d1f52-b656-42f3-8604-78b3f79db7c1",
                "name": "context",
                "value": "={{ $('Lookup & Parse Patient1').item.json.context }}",
                "type": "object"
              },
              {
                "id": "a3b5fd1c-eb55-444b-a370-3651f28f6d6f",
                "name": "appointmentFlow",
                "value": "={{ $('Lookup & Parse Patient1').item.json.appointmentFlow }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "07232703-ab12-4dfa-a53a-736f470b4c44",
        "name": "Set: Intent Context1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          13904,
          14960
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e808c3f0-e9b9-42f5-a090-9bdc24eace59",
                "name": "agentOutput",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "5efb8db4-e0d8-479e-a68e-951b2c76db07",
                "name": "chatInput",
                "value": "={{ $('Set: Intent Context1').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "db76b5ef-845e-4e8a-a1c7-461bef3912b2",
                "name": "phone",
                "value": "={{ $('Set: Intent Context1').item.json.phone }}",
                "type": "string"
              },
              {
                "id": "4825271a-4c9d-4b3c-bb27-f7e1058af4be",
                "name": "conversationId",
                "value": "={{ $('Set: Intent Context1').item.json.conversationId }}",
                "type": "string"
              },
              {
                "id": "97cfef82-8035-4655-ab56-70a6e5feafd0",
                "name": "sessionId",
                "value": "={{ $('Set: Intent Context1').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "cdd5ed19-6878-4aa7-8ae7-a055455c6ccd",
                "name": "platform",
                "value": "={{ $('Set: Intent Context1').item.json.platform }}",
                "type": "string"
              },
              {
                "id": "d615b195-20c6-4908-b57f-db247bd5a155",
                "name": "patientName",
                "value": "={{ $('Set: Intent Context1').item.json.patientName }}",
                "type": "string"
              },
              {
                "id": "e4a3147d-8864-4074-b5ab-b6a98b639aed",
                "name": "patientFound",
                "value": "={{ $('Set: Intent Context1').item.json.patientFound }}",
                "type": "boolean"
              },
              {
                "id": "baa27165-89b7-4055-a968-580acda2a236",
                "name": "convenioId",
                "value": "={{ $('Set: Intent Context1').item.json.convenioId }}",
                "type": "string"
              },
              {
                "id": "9f46a900-01ee-4157-9dc4-a5c219a5ba07",
                "name": "needsPhone",
                "value": "={{ $('Set: Intent Context1').item.json.needsPhone }}",
                "type": "boolean"
              },
              {
                "id": "6eb616eb-8170-498b-a4e9-3e61d3e6e488",
                "name": "messageReceivedAt",
                "value": "={{ $('Set: Intent Context1').item.json.messageReceivedAt }}",
                "type": "string"
              },
              {
                "id": "05a73967-e871-44a5-9c2b-519f5f8f59aa",
                "name": "patient",
                "value": "={{ $('Set: Intent Context1').item.json.patient }}",
                "type": "object"
              },
              {
                "id": "816b634c-541c-442e-9654-dc9454a2162f",
                "name": "context",
                "value": "={{ $('Set: Intent Context1').item.json.context }}",
                "type": "object"
              },
              {
                "id": "1e6360e2-59a1-4030-a294-a466784af3ef",
                "name": "appointmentFlow",
                "value": "={{ $('Set: Intent Context1').item.json.appointmentFlow }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "bd5a8998-91d8-4e51-bb39-4fbbf89ac0d9",
        "name": "Set: Pre-Parse Context1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          14144,
          15280
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ac39e51d-10fb-4647-81a7-186b031af0f4",
                "name": "agentOutput",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "e34f9efa-52a1-4f98-8337-62079ed51378",
                "name": "conversationId",
                "value": "={{ $('Set: Intent Context1').item.json.conversationId }}",
                "type": "string"
              },
              {
                "id": "22136e2f-4808-4511-9f1e-395fd2288825",
                "name": "sessionId",
                "value": "={{ $('Set: Intent Context1').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "8e574157-8926-4e91-8ad3-9f32b3166079",
                "name": "phone",
                "value": "={{ $('Set: Intent Context1').item.json.phone }}",
                "type": "string"
              },
              {
                "id": "722c6b75-2226-46a8-9af4-140598072c74",
                "name": "platform",
                "value": "={{ $('Set: Intent Context1').item.json.platform }}",
                "type": "string"
              },
              {
                "id": "90db7da9-cda0-44ac-92b3-04987ec4a2ae",
                "name": "messageReceivedAt",
                "value": "={{ $('Set: Intent Context1').item.json.messageReceivedAt }}",
                "type": "string"
              },
              {
                "id": "269ffc34-dbba-42ac-8cbc-384edd129311",
                "name": "chatInput",
                "value": "={{ $('Set: Intent Context1').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "25461955-c60c-4e47-9bfb-35a0622ddc3a",
                "name": "patientName",
                "value": "={{ $('Set: Intent Context1').item.json.patientName }}",
                "type": "string"
              },
              {
                "id": "a0520d74-79b5-45a5-9e17-05dac408a4a9",
                "name": "patientFound",
                "value": "={{ $('Set: Intent Context1').item.json.patientFound }}",
                "type": "boolean"
              },
              {
                "id": "4a660f5d-4c6b-478d-af35-e65f307554f6",
                "name": "convenioId",
                "value": "={{ $('Set: Intent Context1').item.json.convenioId }}",
                "type": "string"
              },
              {
                "id": "0018d195-f35a-4ef1-b364-7b8c54c1066f",
                "name": "patient",
                "value": "={{ $('Set: Intent Context1').item.json.patient }}",
                "type": "object"
              },
              {
                "id": "4de66cac-b95a-4614-80b4-097c1d5f95fa",
                "name": "appointmentFlow",
                "value": "={{ $('Set: Intent Context1').item.json.appointmentFlow }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "fe47da5f-5f62-4d25-b550-d21bfb6b7b12",
        "name": "Set: Info Context1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          15216,
          14800
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "zorahbot",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "2f8a1f49-395d-45aa-bef5-41bfa8eb7de1",
        "name": "Webhook Backup",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          13104,
          15296
        ],
        "webhookId": "d152cfe1-4e45-4c68-af81-e69e6d4fa2f6",
        "disabled": true
      },
      {
        "id": "1b82be54-72cd-40d0-963b-eca783900bae",
        "name": "Format Unit Welcome",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          19440,
          13900
        ],
        "parameters": {
          "jsCode": "// Resposta deterministíca de boas-vindas à unidade — sem LLM\nconst data = $json;\nconst unit = data.unit || '';\nconst patientName = data.patientName;\n\nlet greeting = '';\nif (patientName) {\n  greeting = `Olá, ${patientName}! `;\n} else {\n  const hora = new Date().getHours();\n  if (hora < 12) greeting = 'Bom dia! ';\n  else if (hora < 18) greeting = 'Boa tarde! ';\n  else greeting = 'Boa noite! ';\n}\n\nconst message = `${greeting}Você selecionou a unidade **${unit}**. 😊\\n\\nComo posso te ajudar? Você pode perguntar sobre:\\n• Procedimentos e valores\\n• Convênios aceitos\\n• Horários de atendimento\\n• Ou, se preferir, posso te encaminhar para agendamento!`;\n\nreturn [{json:{\n  conversationId: data.conversationId || '',\n  message,\n  intent: 'INFORMACAO',\n  action: 'RESPOND',\n  messageReceivedAt: data.messageReceivedAt,\n  success: true\n}}];"
        }
      }
    ],
    "connections": {
      "Extract Data": {
        "main": [
          [
            {
              "node": "Lookup & Parse Patient",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Patient ZoraH": {
        "main": [
          [
            {
              "node": "Set: Intent Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Classifier Agent": {
        "main": [
          [
            {
              "node": "Set: Pre-Parse Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Intent Model": {
        "ai_languageModel": [
          [
            {
              "node": "Intent Classifier Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Memory Intent": {
        "ai_memory": [
          [
            {
              "node": "Intent Classifier Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Parse Intent Response": {
        "main": [
          [
            {
              "node": "Intent Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Router": {
        "main": [
          [
            {
              "node": "Format Unit Welcome",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Information Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Appointment Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handler Transfer",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Ask Unit Response",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Format Ask Unit Response": {
        "main": [
          [
            {
              "node": "Format Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handler Transfer": {
        "main": [
          [
            {
              "node": "Format Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Information Agent": {
        "main": [
          [
            {
              "node": "Set: Info Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Information Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Memory Information": {
        "ai_memory": [
          [
            {
              "node": "Information Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Vieiralves": {
        "ai_tool": [
          [
            {
              "node": "Information Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request São José": {
        "ai_tool": [
          [
            {
              "node": "Information Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Parse Information Response": {
        "main": [
          [
            {
              "node": "Format Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Final Response": {
        "main": [
          [
            {
              "node": "Prepare Analytics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to System": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Appointment Request": {
        "main": [
          [
            {
              "node": "Format Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Analytics": {
        "main": [
          [
            {
              "node": "Send to System",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup & Parse Patient": {
        "main": [
          [
            {
              "node": "Upsert Patient ZoraH",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Start": {
        "main": [
          [
            {
              "node": "Extract Data",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Intent Context": {
        "main": [
          [
            {
              "node": "Intent Classifier Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Pre-Parse Context": {
        "main": [
          [
            {
              "node": "Parse Intent Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Info Context": {
        "main": [
          [
            {
              "node": "Parse Information Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Data1": {
        "main": [
          [
            {
              "node": "Lookup & Parse Patient1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Patient ZoraH1": {
        "main": [
          [
            {
              "node": "Set: Intent Context1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Classifier Agent1": {
        "main": [
          [
            {
              "node": "Set: Pre-Parse Context1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Intent Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Intent Classifier Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Memory Intent1": {
        "ai_memory": [
          [
            {
              "node": "Intent Classifier Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Parse Intent Response1": {
        "main": [
          [
            {
              "node": "Intent Router1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Router1": {
        "main": [
          [
            {
              "node": "Information Agent1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Appointment Request1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handler Transfer1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Ask Unit Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Ask Unit Response1": {
        "main": [
          [
            {
              "node": "Format Final Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handler Transfer1": {
        "main": [
          [
            {
              "node": "Format Final Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Information Agent1": {
        "main": [
          [
            {
              "node": "Set: Info Context1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Information Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Information Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Memory Information1": {
        "ai_memory": [
          [
            {
              "node": "Information Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Vieiralves1": {
        "ai_tool": [
          [
            {
              "node": "Information Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request São José1": {
        "ai_tool": [
          [
            {
              "node": "Information Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Parse Information Response1": {
        "main": [
          [
            {
              "node": "Format Final Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Final Response1": {
        "main": [
          [
            {
              "node": "Prepare Analytics1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to System1": {
        "main": [
          [
            {
              "node": "Webhook Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Appointment Request1": {
        "main": [
          [
            {
              "node": "Format Final Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Analytics1": {
        "main": [
          [
            {
              "node": "Send to System1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup & Parse Patient1": {
        "main": [
          [
            {
              "node": "Upsert Patient ZoraH1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Intent Context1": {
        "main": [
          [
            {
              "node": "Intent Classifier Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Pre-Parse Context1": {
        "main": [
          [
            {
              "node": "Parse Intent Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: Info Context1": {
        "main": [
          [
            {
              "node": "Parse Information Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Backup": {
        "main": [
          [
            {
              "node": "Extract Data1",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Unit Welcome": {
        "main": [
          [
            {
              "node": "Format Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kalebe Caldas",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-30T20:16:42.338Z",
        "id": 54,
        "workflowId": "5xTy00n8X2mmwJ7z",
        "versionId": "63dda322-b661-452e-a775-908703764f99",
        "event": "activated",
        "userId": "4ab24550-688d-4044-9dc0-ff30ff49555f"
      }
    ]
  }
}