n8n/Zorah bot n8n ativo.json
{
  "name": "ZoraH Bot - Simple v2.2.4",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $json.body || $json;\nconst conversationId = data.conversationId || '';\n\nif (!conversationId) throw new Error('conversationId ausente');\n\nfunction djb2hex(str) {\n  let h = 5381;\n  for (let i = 0; i < str.length; i++) {\n    h = (Math.imul(h, 33) + str.charCodeAt(i)) | 0;\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nconst sessionId = djb2hex(conversationId);\nconst platform   = data.platform  || 'whatsapp';\nconst needsPhone = platform === 'instagram';\n\nreturn [{\n  json: {\n    chatInput:       data.message  || '',\n    phone:           data.phone    || '',\n    conversationId,\n    sessionId,\n    platform,\n    needsPhone,\n    patient:         data.patient  || {},\n    context:         data.context  || {},\n    appointmentFlow: data.context?.appointmentFlow || {\n      patientChecked: false,\n      patientData: null,\n      insuranceValidated: false,\n      step: 'initial'\n    },\n    messageReceivedAt: Date.now(),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "ae9587b3-6868-4de5-ac58-53dd050a62fc",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12416,
        12080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zorahapp2-production.up.railway.app/api/patients/upsert-from-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-bot-key",
              "value": "={{ $env.N8N_BOT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  name: $json.patientName || 'Novo Paciente',\n  email: $json.email || null,\n  insuranceCompany: $json.convenioId ? String($json.convenioId) : null,\n  source: 'bot'\n}) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "upsert-zorah-001",
      "name": "Upsert Patient ZoraH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12896,
        12080
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ `Você é **Zorah**, a IA classificadora de intenções do IAAM.\nVocê opera exclusivamente em conversas de **WhatsApp e Instagram**.\n\n────────────────────────────\n🧑 PACIENTE IDENTIFICADO:\n────────────────────────────\n${ $json.patientName ? `Nome do paciente: ${$json.patientName}. Use o nome ao cumprimentar.` : 'Paciente ainda não identificado. NÃO invente o nome.' }\n\n────────────────────────────\n⚠️ REGRAS GERAIS OBRIGATÓRIAS\n────────────────────────────\n- Sempre identifique-se como assistente virtual Zorah do IAAM\n- Sempre responda em português (Brasil)\n- Sempre utilize linguagem clara, educada e humana\n- Sempre formate respostas para chat\n- Sempre retorne um JSON válido no formato definido ao final\n- NÃO invente dados\n- NÃO pule etapas do fluxo\n\n────────────────────────────\n🎯 MISSÃO PRINCIPAL\n────────────────────────────\n1. Verificar se a **UNIDADE** foi informada\n2. Se não foi informada → perguntar a unidade\n3. Somente após isso → classificar a intenção\n\n────────────────────────────\n🏥 UNIDADES DISPONÍVEIS\n────────────────────────────\n1 - Unidade Vieiralves  \n2 - Unidade São José  \n\n────────────────────────────\n🔁 FLUXO OBRIGATÓRIO\n────────────────────────────\n\n### 1️⃣ VERIFICAR UNIDADE\nSe a mensagem do paciente **NÃO mencionar explicitamente**:\n- Vieiralves\n- São José\n\nENTÃO:\n- NÃO classifique outra intenção\n- Defina intent = PEDIR_UNIDADE\n- Defina needsUnit = true\n- Responda perguntando a unidade da forma abaixo:\n\n\"Para qual unidade você deseja atendimento? 😊  \nPor favor, escolha uma opção:  \n1️⃣ Vieiralves  \n2️⃣ São José\"\n\n---\n\nSe a unidade **JÁ estiver mencionada**, prossiga para a classificação de intenção.\n\n────────────────────────────\n### 2️⃣ CLASSIFICAÇÃO DE INTENÇÃO\n────────────────────────────\nClassifique a mensagem em **apenas UMA** das intenções abaixo:\n\n🔹 **INFORMACAO**\n- Perguntas gerais\n- Procedimentos\n- Valores\n- Convênios\n- Localização\n- Horários\n- Cumprimentos (oi, olá, bom dia)\n- Dúvidas ou curiosidade\n\n🔹 **AGENDAR**\n⚠️ SOMENTE se houver palavras EXPLÍCITAS:\n- \"agendar\"\n- \"marcar\"\n- \"reservar\"\n\n➡️ Se não houver essas palavras, NÃO classificar como AGENDAR  \n➡️ Confiança mínima: 0.90\n\n🔹 **FALAR_ATENDENTE**\n- Pedido para falar com humano\n- Solicitação de atendimento pessoal\n- Reclamação do robô\n\n🔹 **PEDIR_UNIDADE**\n- Sempre que for necessário perguntar a unidade\n\n────────────────────────────\n📌 REGRAS DE DECISÃO\n────────────────────────────\n- Unidade SEMPRE vem antes da intenção\n- Cumprimento simples = INFORMACAO (após unidade)\n- Em dúvida → INFORMACAO\n- Nunca assumir agendamento\n- Nunca misturar intenções\n\n────────────────────────────\n📤 FORMATO DE RESPOSTA (OBRIGATÓRIO)\n────────────────────────────\n\nResponda SEMPRE neste formato JSON:\n\n{\n  \"intent\": \"INFORMACAO | AGENDAR | FALAR_ATENDENTE | PEDIR_UNIDADE\",\n  \"confidence\": 0.95,\n  \"unit\": \"Vieiralves | São José | null\",\n  \"response\": \"Mensagem clara, gentil e adequada ao paciente\",\n  \"needsUnit\": true | false\n}\n\n}` }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        13056,
        12064
      ],
      "id": "f180054c-95a3-45d4-aa1d-09c07598061a",
      "name": "Intent Classifier Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        12992,
        12320
      ],
      "id": "607de1bf-0e28-4a38-9f90-0bda96f061fc",
      "name": "Gemini Intent Model",
      "credentials": {
        "googlePalmApi": {
          "id": "u6LqYmP5hc5nmBjY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        13168,
        12336
      ],
      "id": "1e556d7b-65a2-4a0c-8b3d-d9b0f6edef2d",
      "name": "Postgres Memory Intent",
      "credentials": {
        "postgres": {
          "id": "H9gXAAtqPOhWpc8g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $json;\nconst ctx = $('Lookup & Parse Patient').item.json || $('Extract Data').item.json || {};\n\nfunction extractText(res) {\n  if (!res) return '';\n  if (typeof res === 'string') return res;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output?.text) return res.output.text;\n  if (res.text)    return res.text;\n  if (res.response) return res.response;\n  if (res.message)  return res.message;\n  return '';\n}\n\nlet rawText = extractText(agentResponse).replace(/^json\\s*\\n?/i, '').trim();\n\nconst conversationId = ctx.conversationId || agentResponse.conversationId || '';\nconst chatInput      = ctx.chatInput      || agentResponse.chatInput      || '';\nconst sessionId      = ctx.sessionId      || agentResponse.sessionId      || '';\n\nlet intent = 'INFORMACAO', confidence = 0.5, unit = null,\n    needsUnit = false, parsedResponse = null, reasoning = '';\n\nconst m = rawText.match(/\\{[\\s\\S]*?\\}/);\nif (m) {\n  try {\n    const p = JSON.parse(m[0]);\n    intent         = p.intent      || intent;\n    confidence     = p.confidence  || confidence;\n    reasoning      = p.reasoning   || '';\n    unit           = p.unit        || null;\n    needsUnit      = p.needsUnit   ?? false;\n    parsedResponse = p.response    || null;\n  } catch(_) {}\n}\n\nif (agentResponse.intent) {\n  intent     = agentResponse.intent;\n  confidence = agentResponse.confidence || confidence;\n  unit       = agentResponse.unit || unit;\n}\n\nif (!unit && chatInput) {\n  const lo = chatInput.toLowerCase();\n  if (lo.includes('vieiralves'))                              unit = 'Vieiralves';\n  else if (lo.includes('são josé') || lo.includes('sao jose')) unit = 'São José';\n}\n\nif (chatInput) {\n  const lo = chatInput.toLowerCase();\n  if (['agendar','marcar','reservar'].some(k => lo.includes(k)))         { intent = 'AGENDAR';         confidence = 0.9;  }\n  else if (['atendente','humano','falar com'].some(k => lo.includes(k))) { intent = 'FALAR_ATENDENTE'; confidence = 0.95; }\n}\n\nconst validIntents = ['INFORMACAO','AGENDAR','FALAR_ATENDENTE','PEDIR_UNIDADE'];\nif (!validIntents.includes(intent)) intent = 'INFORMACAO';\n\nif (!unit && (intent === 'AGENDAR' || intent === 'INFORMACAO')) {\n  needsUnit = true;\n  intent    = 'PEDIR_UNIDADE';\n}\n\nreturn [{\n  json: {\n    conversationId, sessionId, intent, confidence, reasoning, unit, needsUnit,\n    response:        parsedResponse || rawText,\n    chatInput,\n    originalMessage: chatInput,\n    phone:           ctx.phone     || '',\n    platform:        ctx.platform  || 'whatsapp',\n    needsPhone:      ctx.needsPhone|| false,\n    patient:         ctx.patient   || {},\n    patientFound:    ctx.patientFound || false,\n    patientName:     ctx.patientName  || null,\n    convenioId:      ctx.convenioId   || null,\n    context:         ctx.context      || {},\n    appointmentFlow: ctx.appointmentFlow || {\n      patientChecked: false, patientData: null,\n      insuranceValidated: false, step: 'initial'\n    },\n    messageReceivedAt: ctx.messageReceivedAt,\n    success: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13344,
        12080
      ],
      "id": "c483d6f6-0fef-4be8-97cb-d5a895fe84b4",
      "name": "Parse Intent Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "INFORMACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "info-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "information"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "AGENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "appointment-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FALAR_ATENDENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "transfer-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "transfer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "unit-condition",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "PEDIR_UNIDADE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_unidade"
            }
          ]
        },
        "options": {}
      },
      "id": "5ba948b6-f64c-41cc-9826-1f9ee136db86",
      "name": "Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        13488,
        12080
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\n\nlet message = null;\n\nif (data.response) {\n  if (typeof data.response === 'string') {\n    try {\n      const parsed = JSON.parse(data.response);\n      if (parsed.response) {\n        message = parsed.response;\n      }\n    } catch (e) {\n      message = data.response;\n    }\n  } else {\n    message = data.response;\n  }\n}\n\nif (!message && data.message) {\n  message = data.message;\n}\n\nif (message && typeof message === 'string') {\n  message = message.replace(/^json\\s*\\n?/i, '').trim();\n  const backtick = String.fromCharCode(96);\n  const codeBlockPattern = new RegExp('^' + backtick + backtick + backtick + 'json\\\\s*\\\\n?', 'i');\n  message = message.replace(codeBlockPattern, '').trim();\n  const codeBlockStart = new RegExp('^' + backtick + backtick + backtick + '\\\\s*\\\\n?', 'i');\n  message = message.replace(codeBlockStart, '').trim();\n  const codeBlockEnd = new RegExp(backtick + backtick + backtick + '\\\\s*$', 'i');\n  message = message.replace(codeBlockEnd, '').trim();\n}\n\nif (!message || message.trim() === '') {\n  message = 'Qual unidade você prefere?\\n1 - Vieiralves\\n2 - São José\\n\\nDigite o número da unidade desejada. 😊';\n}\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: message,\n    intent: data.intent || 'INFORMACAO',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    appointmentFlow: data.appointmentFlow || null,\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "2ee7bb2d-00e5-49c6-b1e7-5c322fb8940c",
      "name": "Format Ask Unit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13680,
        12384
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId || '',\n    message: 'Transferindo para atendente. Aguarde! 😊',\n    intent: 'FALAR_ATENDENTE',\n    action: 'TRANSFER_TO_HUMAN',\n    requiresHumanIntervention: true,\n    success: true\n  }\n}];\n"
      },
      "id": "2d0445f2-643c-4377-ab76-f2fc9e6cbf08",
      "name": "Handler Transfer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13680,
        12480
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ `Você é **Zorah**, assistente de informações do IAAM.\n\n────────────────────────────\n🧑 PACIENTE:\n────────────────────────────\n${ $json.patientName ? `Nome: ${$json.patientName}. Cumprimente-o pelo nome na primeira mensagem da conversa.` : 'Paciente não identificado. NÃO invente o nome.' }\n\n## UNIDADE SELECIONADA:\n${$json.unit ? `Unidade: ${$json.unit}` : 'Unidade não selecionada ainda'}\n\n────────────────────────────\n⚠️ REGRAS ANTI-ALUCINAÇÃO (ABSOLUTAS):\n────────────────────────────\n1. NUNCA invente preços, procedimentos ou convênios. Use APENAS os dados retornados pelas tools.\n2. Se um procedimento não estiver na lista da API, diga: \"No momento não oferecemos esse serviço nesta unidade.\"\n3. Se um convênio não estiver na lista, diga: \"Esse convênio não é aceito nesta unidade.\"\n4. Se um preço não estiver disponível na API, diga: \"Para informações de valor, por favor entre em contato.\"\n5. Use SEMPRE os valores exatos retornados pela API. Não arredonde nem estime.\n6. Consulte OBRIGATORIAMENTE a tool da unidade ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios.\n\n## REGRAS:\n1. **Se não tem unidade:**\n   → PERGUNTAR: \"Qual unidade você prefere? Vieiralves ou São José?\"\n\n2. **Se tem unidade selecionada:**\n   → Use a tool específica da unidade:\n   - Se unidade = \"Vieiralves\" → use tool \"Base de Informações da Unidade Vieiralves\"\n   - Se unidade = \"São José\" → use tool \"Base de Informações da Unidade São José\"\n   → Responda com informações ESPECÍFICAS daquela unidade\n\n3. **Seja amigável e clara 😊**\n4. **Use as informações da clínica da unidade selecionada**\n5. **Mantenha contexto (memória)**\n6. **Convide para agendar quando relevante**\n7. **Traga sempre informações completas, mas compactas**\n8. **Sempre formate as respostas da melhor forma possível**\n9. **Sempre analise qual tipo de informação o paciente quer, entregue somente o necessário**\n10. Não forneça respostas extensas.\n11. Atente-se sempre somente aos procedimentos que as clínicas possuem.\n\n## EXEMPLOS:\n- Sem unidade: \"Olá! 😊 Para melhor atendê-lo, qual unidade você prefere? Vieiralves ou São José?\"\n- Com unidade: \"Ótimo! Na unidade ${$json.unit}, temos... [informações específicas]\"` }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        13904,
        11504
      ],
      "id": "45b288cd-2a13-49bc-82e9-0dcbd7d5fdf8",
      "name": "Information Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        13792,
        11872
      ],
      "id": "8ace82ce-68d5-4bd3-853c-2f032f3cd233",
      "name": "Gemini Information Model",
      "credentials": {
        "googlePalmApi": {
          "id": "u6LqYmP5hc5nmBjY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        13936,
        11872
      ],
      "id": "6b248553-8d7c-4973-8f9f-01e1ce6e7aa4",
      "name": "Postgres Memory Information",
      "credentials": {
        "postgres": {
          "id": "H9gXAAtqPOhWpc8g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade Vieiralves. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
        "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/vieiralves",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        14112,
        11856
      ],
      "id": "51c69b73-c5ec-4f3f-a571-aa53baddcd4e",
      "name": "HTTP Request Vieiralves"
    },
    {
      "parameters": {
        "toolDescription": "OBRIGATÓRIO: Consulte esta tool ANTES de responder qualquer pergunta sobre procedimentos, preços ou convênios da Unidade São José. Retorne os dados exatamente como recebidos, sem inventar ou estimar valores.",
        "url": "https://zorahapp2-production.up.railway.app/api/clinic/data/sao-jose",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        14288,
        11856
      ],
      "id": "a897b6fc-50cd-479d-8467-27e8f5fc549b",
      "name": "HTTP Request São José"
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $json;\nconst extractData = $('Parse Patient Data').item.json || $('Extract Data').item.json || {};\n\nfunction extractText(res) {\n  if (!res) return null;\n  if (typeof res === 'string') return res;\n  if (typeof res.output === 'string') return res.output;\n  if (res.output && typeof res.output.text === 'string') return res.output.text;\n  if (typeof res.text === 'string') return res.text;\n  return null;\n}\n\nconst conversationId =\n  agentResponse.conversationId ||\n  extractData.conversationId ||\n  '';\n\nif (!conversationId) {\n  throw new Error('conversationId ausente no Parse Information');\n}\n\nconst responseText =\n  extractText(agentResponse) ||\n  'Desculpe, não consegui processar.';\n\nreturn [{\n  json: {\n    conversationId,\n    message: responseText,\n    intent: 'INFORMACAO',\n    action: 'RESPOND',\n    success: true\n  }\n}];\n"
      },
      "id": "9904cec8-ff9b-47d1-a011-e5ac9c80178d",
      "name": "Parse Information Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14640,
        11584
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst extractData = $('Parse Patient Data').item.json || $('Extract Data').item.json || {};\n\nif (!data.conversationId) throw new Error('conversationId obrigatório');\nif (!data.message) throw new Error('message obrigatório');\n\nconst now = Date.now();\nconst messageReceivedAt = extractData.messageReceivedAt || now;\nconst responseTimeMs = now - messageReceivedAt;\n\nreturn [{\n  json: {\n    conversationId: data.conversationId,\n    message: data.message,\n    intent: data.intent || 'INFORMACAO',\n    action: data.action || 'RESPOND',\n    aiProvider: 'n8n-gemini-v2.2.4-simple',\n    requiresHumanIntervention: data.requiresHumanIntervention || false,\n    requiresQueueTransfer: data.requiresQueueTransfer || false,\n    queueName: data.queueName || null,\n    appointmentFlow: data.appointmentFlow || null,\n    metrics: {\n      intent: data.intent || 'INFORMACAO',\n      responseTimeMs: responseTimeMs,\n      timestamp: new Date().toISOString(),\n      requiresTransfer: data.requiresQueueTransfer || false\n    },\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "b249d90f-583b-457f-bb78-027e06f804ba",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15680,
        12080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zorahapp2-production.up.railway.app/webhook/n8n-response",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversationId: $json.conversationId,\n  message: $json.message,\n  intent: $json.intent,\n  action: $json.action,\n  aiProvider: $json.aiProvider,\n  appointmentFlow: $json.appointmentFlow,\n  requiresQueueTransfer: $json.requiresQueueTransfer,\n  queueName: $json.queueName,\n  metrics: $json.metrics\n} }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "0cc6c12c-2506-4dc8-86a0-7036c9265683",
      "name": "Send to System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15888,
        12080
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "3e0d961a-9073-4c57-91dd-71245a98694b",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16080,
        12080
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zorahbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "83b42eee-9723-4abe-89a6-817f24f94fe5",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        12160,
        12080
      ],
      "webhookId": "d152cfe1-4e45-4c68-af81-e69e6d4fa2f6"
    },
    {
      "parameters": {
        "jsCode": "const extractData = $('Parse Patient Data').item.json || $('Extract Data').item.json || {};\nconst parseIntent = $('Parse Intent Response').item.json || {};\n\nreturn [{\n  json: {\n    conversationId: extractData.conversationId,\n    message: 'Entendi que você deseja agendar um procedimento. Vou transferir você para nossa equipe de atendimento que irá auxiliá-lo com o agendamento. Aguarde um momento! 😊',\n    intent: 'AGENDAR',\n    action: 'TRANSFER_TO_QUEUE',\n    requiresQueueTransfer: true,\n    queueName: 'Principal',\n    success: true\n  }\n}];\n"
      },
      "id": "406916e6-1778-497b-af36-85e50600fa52",
      "name": "Handle Appointment Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13872,
        12112
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Apenas passar os dados adiante (métricas já estão em data.metrics)\nreturn [{ json: data }];\n"
      },
      "id": "d27253c3-5190-4aaf-9d72-22912c62b256",
      "name": "Prepare Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15712,
        12304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nwbh.ghotmidia.com/webhook/EVOIAAM",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensagem_paciente",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12352,
        12288
      ],
      "id": "ffb2c48f-afaa-4eb7-949d-31b62a147b22",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// $json = Extract Data output — sem cross-node reference\nconst ex = $json;\nconst phone = ex.phone || '';\nlet patientFound = false, patientName = null, convenioId = null,\n    email = null, clinicaAgilId = null;\n\nif (phone) {\n  try {\n    const fd = new FormData();\n    fd.append('numero_paciente', phone);\n    const resp = await fetch(\n      'https://app2.clinicaagil.com.br/api/integration/patient_data',\n      {\n        method: 'POST',\n        headers: {\n          'X-API-KEY': 'a5dcc76d202fdc2eb86646c9e57754b19f34fff30332b865b19cca44232b460b-c1a-5468970561',\n          'X-API-METHOD': 'Ch4tB0tW4tsS4v3QRc0d3'\n        },\n        body: fd,\n        signal: AbortSignal.timeout(5000)\n      }\n    );\n    if (resp.ok) {\n      const data = await resp.json();\n      if (data.status === 'success' && data.data) {\n        patientFound  = true;\n        patientName   = data.data.paciente_nome || null;\n        convenioId    = data.data.convenio_id   || null;\n        email         = data.data.email          || null;\n        clinicaAgilId = data.data.paciente_id    || null;\n      }\n    }\n  } catch(_) { /* timeout ou erro — continua sem dados do paciente */ }\n}\n\nreturn [{ json: { ...ex, patientFound, patientName, convenioId, email, clinicaAgilId } }];"
      },
      "id": "lookup-parse-001",
      "name": "Lookup & Parse Patient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12576,
        12080
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Lookup & Parse Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Patient ZoraH": {
      "main": [
        [
          {
            "node": "Intent Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier Agent": {
      "main": [
        [
          {
            "node": "Parse Intent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Intent Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory Intent": {
      "ai_memory": [
        [
          {
            "node": "Intent Classifier Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Response": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Information Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Appointment Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handler Transfer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Ask Unit Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Ask Unit Response": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Transfer": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Agent": {
      "main": [
        [
          {
            "node": "Parse Information Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Information Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory Information": {
      "ai_memory": [
        [
          {
            "node": "Information Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Vieiralves": {
      "ai_tool": [
        [
          {
            "node": "Information Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request São José": {
      "ai_tool": [
        [
          {
            "node": "Information Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Information Response": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Prepare Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to System": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Appointment Request": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analytics": {
      "main": [
        [
          {
            "node": "Send to System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup & Parse Patient": {
      "main": [
        [
          {
            "node": "Upsert Patient ZoraH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6e6e807d-149f-441c-8d71-128b2889f528",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b105df77e781b669665abdc37a7b4ef359bca880b5ffd0a3d44e19f5f31eba3"
  },
  "id": "5xTy00n8X2mmwJ7z",
  "tags": []
}